<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<?link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen"?>
<?script src="js/jquery.min.js"?>
<?script src="bootstrap/js/bootstrap.js"?>

<zk xmlns:n="native">
	<n:div id="carousel-example-generic" class="carousel slide"
		data-ride="carousel" data-interval="3000">
		<!-- Indicators -->
		<n:ol class="carousel-indicators">
			<n:li data-target="#carousel-example-generic"
				data-slide-to="0" class="active">
			</n:li>
			<n:li data-target="#carousel-example-generic"
				data-slide-to="1">
			</n:li>
			<n:li data-target="#carousel-example-generic"
				data-slide-to="2">
			</n:li>
		</n:ol>

		<!-- Wrapper for slides -->
		<n:div class="carousel-inner">
			<n:div class="item active">
				<n:img src="../assets/images/canario3.jpg" alt="..."
					style="width:1400px; height:315px;">
				</n:img>
				<n:div class="carousel-caption"></n:div>
			</n:div>
			<n:div class="item">
				<n:img src="../assets/images/canario2.png" alt="..."
					style="width:1400px; height:315px;">
				</n:img>
				<n:div class="carousel-caption"></n:div>
			</n:div>
			<n:div class="item">
				<n:img src="../assets/images/canario4.jpg" alt="..."
					style="width:1400px; height:315px;">
				</n:img>
				<n:div class="carousel-caption"></n:div>
			</n:div>
		</n:div>

		<!-- Controls -->
		<n:a class="left carousel-control"
			href="#carousel-example-generic" role="button" data-slide="prev">
			<n:span class="glyphicon glyphicon-chevron-left"></n:span>
		</n:a>
		<n:a class="right carousel-control"
			href="#carousel-example-generic" role="button" data-slide="next">
			<n:span class="glyphicon glyphicon-chevron-right"></n:span>
		</n:a>
	</n:div><!-- Carousel -->

	<n:script>
		$('.carousel').carousel({ interval: 3000 })
		$(document).ready(function(){ $('.carousel').carousel({
		interval: 3000 }); });
	</n:script>

</zk>