<zk xmlns:n="native">
	<div>

		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>
							<n:h3 class="lighter block blue">
								Crear Usuario
							</n:h3>

							<n:hr></n:hr>

							<div class="form-horizontal">




								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										ID Miembro
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" id=""
											class="col-xs-4 col-sm-4" width="100px" />
										<button id="closeBtn5"
											tooltiptext="Salir" class="	btn btn-info btn-md"
											iconSclass="z-icon-search	" type="button">

										</button>
									</div>
								</div>

								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Nombre de usuario
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" id=""
											class="col-xs-3 col-sm-3" />
									</div>
								</div>

								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Clave de usuario
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" id=""
											class="col-xs-3 col-sm-3" />
									</div>
								</div>

								<div class="space-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions"
			apply="controlador.ControladorModalCerrar">
			<div class="col-md-9 col-md-offset-3">
				<button id="agregarBtn" tooltiptext="Registrar"
					class="btn btn-info btn-md" iconSclass="z-icon-plus"
					type="button">

				</button>
				<button id="limpiarBtn" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	"
					type="button">

				</button>

				<button id="closeBtn1" tooltiptext="Salir"
					class="	btn btn-warning btn-md" iconSclass="z-icon-sign-out	"
					type="button">

				</button>
			</div>
		</div>

	</div>

</zk>