<!-- Define Component Class -->
<?component name="dual-listbox" extends="div" class="vistaModelo.DualListbox"?>

<window apply="vistaModelo.DualComposer">
	<!-- Direct Use -->
	<dual-listbox id="dualLBox" />
</window>