<?link href="less/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link rel="stylesheet" href="../assets/font-awesome/4.2.0/css/font-awesome.min.css" ?>
<?link rel="stylesheet" href="../assets/fonts/fonts.googleapis.com.css" ?>
<?link rel="stylesheet" href="../assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" ?>
<?link rel="stylesheet" href="../assets/css/ace-part2.min.css" class="ace-main-stylesheet" ?>
<?link rel="stylesheet" href="../assets/css/ace-ie.min.css" ?>
<?script src="../assets/js/ace-extra.min.js"></script?>

<zk xmlns:n="native">
	<div class="footer">
		<div class="footer-inner">
			<div class="footer-content">
				<n:span class="bigger-120">
					<n:i class="ace-icon fa fa-copyright"></n:i>
					<n:span class="blue bolder">Dov Moran</n:span>
					Aplicación Teide 2015
				</n:span>
				<n:span class="action-buttons">
					<n:a href="#">
						<n:i
							class="ace-icon fa fa-twitter-square light-blue bigger-150">
						</n:i>
					</n:a>

					<n:a href="#">
						<n:i
							class="ace-icon fa fa-facebook-square text-primary bigger-150">
						</n:i>
					</n:a>

					<n:a href="#">
						<n:i
							class="ace-icon fa fa-rss-square orange bigger-150">
						</n:i>
					</n:a>
				</n:span>
				<separator spacing="-9px" />
			</div>
		</div>
	</div>
</zk>