<zk xmlns:n="xhtml">
	<panel border="none" collapsible="false" sclass="transparent">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.RegistrarOpinionViewModel')">


			<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12"
				width="100%" align="">

				<div class="row">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-body ">
						<div class="widget-main">
							<div>
								<div>
									<div>

										<div class="form-horizontal">


											<div
												class="form-horizontal">
												<div
													class="form-group">
													<n:label
														style='font-weight:bolder'
														class="col-sm-3 control-label no-padding-right">
														Asunto:
													</n:label>

													<div
														class="col-sm-9">
														<textbox
															type="text" id="" class="col-xs-7 col-sm-7"
															placeholder="Asunto" value="@bind(vm.opinion.asuntoOpinion)" />
													</div>



												</div>

												<div
													class="form-horizontal">



													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-3 control-label no-padding-right">
															Descripción:
														</n:label>

														<div
															class="col-sm-9">
															<textbox
																id="descripcion" type="text" rows="5"
																class="col-xs-7 col-sm-7" placeholder="Descripcion"
																value="@bind(vm.opinion.descOpinion)" />
														</div>




													</div>
													
													
													
													


												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix form-actions">

						<div align="center">

							<button id="" tooltiptext="Enviar"
								class="btn btn-primary btn-md"
								iconSclass="z-icon-fa fa-paper-plane-o bigger-140"
								onClick="@command('RegistrarSugerencia')">
							</button>

							<button id="btnLimpiar"
								tooltiptext="Limpiar" class="btn btn-danger btn-md"
								iconSclass="z-icon-eraser	bigger-140" 
								onClick="@command('Limpiar')">
							</button>


						</div>
					</div>


				</div>
			</div>

		</panelchildren>
	</panel>

</zk>