<zk xmlns:n="xhtml">
	<div class="row col-xs-12 col-md-12 col-lg-12 col-sm-12"
		apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('vistaModelo.ReporteEventoViewModel')">
		<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
			<!-- PAGE CONTENT BEGINS -->
			<div>
				<div class="widget-body">
					<div>
						<div>
							<div>
								<div class="form-horizontal">
									<separator></separator>
									<separator></separator>

									<div class="form-group">
										<div class="col-md-6">
											<n:label
												class="col-sm-4 control-label no-padding-right">
												 Fecha de evento desde:
											</n:label>
											<div class="">
												<datebox format="dd/MM/yyyy" value="@bind(vm.fechaDesde)"
													class="col-xs-12 col-md-6 input-group" readonly="true" />
											</div>
										</div>
										<div class="col-md-6">
											<n:label
												class="col-sm-4 control-label no-padding-right">
												Fecha de evento hasta:
											</n:label>
											<div class="">
												<datebox format="dd/MM/yyyy" value="@bind(vm.fechaHasta)"
													class="col-xs-12 col-md-6 input-group" readonly="true" />
											</div>
										</div>
									</div>

									<separator bar="true"></separator>
									<div class="row">
										<div class="form-horizontal">
											<div class="form-group">

												<div class="col-md-6">
													<n:label
														class="col-sm-4 control-label no-padding-right">
														Tipo de evento
													</n:label>

													<div
														class="col-sm-6">
														<combobox
															sclass="input-group" model="@load(vm.tipoEventos)"
															selectedItem="@bind(vm.tipoEvento)"
															placeholder="Seleccione">
															<template
																name="model">
																<comboitem
																	label="@load(each.nombreTipoEvento)"
																	value="@load(each)" />
															</template>
														</combobox>
													</div>
												</div>


												<div class="space-4"></div>
												<div
													class="form-group">
													<div
														class="col-md-6">
														<n:label
															class="col-sm-4 control-label no-padding-right">
															Área
														</n:label>
														<div
															class="col-sm-6">
															<combobox
																sclass="input-group" model="@load(vm.areas)"
																selectedItem="@bind(vm.area)"
																placeholder="Seleccione">
																<template
																	name="model">
																	<comboitem
																		label="@load(each.nombreArea)"
																		value="@load(each)" />
																</template>
															</combobox>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-horizontal">
											<div class="form-group">

												<div class="col-md-6">
													<n:label
														class="col-sm-4 control-label no-padding-right">
														Tipo de público
													</n:label>
													<div class="col-sm-6">
														<combobox
															sclass="input-group" model="@load(vm.tipoPublicos)"
															selectedItem="@bind(vm.tipoPublico)"
															placeholder="Seleccione">
															<template
																name="model">
																<comboitem
																	label="@load(each.nombreTipoPublico)"
																	value="@load(each)" />
															</template>
														</combobox>
													</div>
												</div>
												<div
													class="form-group">
													<div
														class="col-md-6">
														<n:label
															class="col-sm-4 control-label no-padding-right">
															Preferencia
														</n:label>

														<div
															class="col-sm-6">
															<combobox
																sclass="input-group" model="@load(vm.preferencias)"
																selectedItem="@bind(vm.preferencia)"
																placeholder="Seleccione">
																<template
																	name="model">
																	<comboitem
																		label="@load(each.nombrePreferencia)"
																		value="@load(each)" />
																</template>
															</combobox>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-horizontal">
											<div class="form-group">

												<div class="col-md-6">
													<n:label
														class="col-sm-4 control-label no-padding-right">
														Estado
													</n:label>

													<div
														class="col-sm-6">
														<combobox
															sclass="input-group" model="@load(vm.estados)"
																selectedItem="@bind(vm.estado)"
																placeholder="Seleccione">
															<template
																name="model">
																<comboitem label="@load(each.nombreEstado)"
																		value="@load(each)" />
															</template>
														</combobox>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="space-4"></div>


								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix form-actions">
					<div class="col-md-offset-5 col-md-12">
						<button class="btn btn-primary" type="button"
							tooltiptext="Txt" onClick="@command('generarFormato')"
							iconSclass="ace-icon fa fa-file-text-o bigger-160">
						</button>
						
					</div>
				</div>
			</div>
		</div><!-- /.col -->
	</div><!-- /.row -->
	<style>
		.z-datebox-input { // simlar to bootstrap's form-control class
		display: table-cell; width: 100%; margin-bottom: 0; height:
		34px; padding: 6px 12px; font-size: 14px; line-height:
		1.428571429; color: #555; vertical-align: middle;
		background-color: #fff; border: 1px solid #ccc; border-radius:
		4px; box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); transition:
		border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		border-top-right-radius: 0; border-bottom-right-radius: 0; }
		.z-datebox-button { // simlar to bootstrap's input-group-addon
		class padding: 6px 12px; font-size: 14px; font-weight: normal;
		line-height: 1; text-align: center; background-color: #eee;
		border: 1px solid #ccc; border-radius: 4px; width: 1%;
		white-space: nowrap; vertical-align: middle; display:
		table-cell; border-bottom-left-radius: 0;
		border-top-left-radius: 0; border-left: 0; }


		.z-combobox-button, .z-bandbox-button, .z-datebox-button,
		.z-timebox-button, .z-spinner-button, .z-doublespinner-button {
		font-size: 14px; color: #636363; display: inline-block;
		min-width: 30px; height: 32px; border: 1px solid #cfcfcf;
		-webkit-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0;
		padding: 7px; line-height: 14px; background: #fff; text-align:
		left; vertical-align: middle; overflow: hidden; cursor: pointer;
		}

		.z-combobox-input, .z-bandbox-input, .z-datebox-input,
		.z-timebox-input, .z-spinner-input, .z-doublespinner-input {
		font-family: Arial,Sans-serif; font-size: 12px; font-weight:
		normal; font-style: normal; color: #000; height: 32px; border:
		1px solid #cfcfcf; border-right: 0; -webkit-border-radius: 3px 0
		0 3px; border-radius: 3px 0 0 3px; margin: 0; padding: 4px 5px;
		line-height: 14px; background: #fff; }

		.z-combobox-input, .z-bandbox-input, .z-datebox-input,
		.z-timebox-input, .z-spinner-input, .z-doublespinner-input {
		font-family: Arial,Sans-serif; font-size: 12px; font-weight:
		normal; font-style: normal; color: #000; height: 32px; border:
		1px solid #cfcfcf; border-right: 0; -webkit-border-radius: 3px 0
		0 3px; border-radius: 3px 0 0 3px; margin: 0; padding: 4px 5px;
		line-height: 14px; background: #fff; width: 50%; }
	</style>





</zk>
