<zk xmlns:n="http://www.zkoss.org/2005/zk/native"
	xmlns:h="http://www.w3.org/1999/xhtml">
	<window id="wdwRespaldoInformacion" border="transparent"
		width="100%" height="auto" class="panel panel-default"
		apply="controlador.ControladorRespaldoRecuperacion">
		<style dynamic="true">
			.GridLayoutNoBorder tr.z-row td.z-row-inner, tr.z-row
			.z-cell,div.z-grid { border: none; overflow: hidden; zoom:
			1; background: white; border-top: none; border-left: none;
			border-right: none; border-bottom: none; }

		</style>

		<style id="estilo">

			.fgrid tr.z-row td.z-row-inner,tr.z-row,div.z-grid-body
			div.z-cell,div.z-grid { border: none; overflow: hidden;
			zoom: 1; background: white; border-top: none; border-left:
			none; border-right: none; border-bottom: none; }

			.fgrid .z-grid-odd .fgrid .z-row-inner,.fgrid .z-grid-odd
			.z-cell { background-color: #F7F7F7; border-bottom: 1px
			solid transparent; border-left: 1px solid transparent;
			border-top: 1px solid transparent; }

			.fgrid .z-grid-odd .fgrid.z-row-inner,.fgrid.z-grid-odd
			.z-cell,.fgrid.z-grid-odd { background: none repeat scroll 0
			0 transparent; }

			.fgrid tr.z-grid-odd td.z-row-inner,.fgrid tr.z-grid-odd
			.z-cell,.fgrid tr.z-grid-odd { background: white }

			.fgrid tr.z-row td.z-row-inner,.fgrid tr.z-row .z-cell {
			background: white; border-top: none; }

			tr.z-row-over > td.z-row-inner > .z-row-cnt { color: rgb(0,
			84, 122); }

		</style>

		<style src="/public/css/bootstrap.css" />
		<style src="/public/css/style.css" />

		<!-- Lista de popus -->
		<popup id="pupRespaldar">
			<toolbarbutton
				label="Presione aquí para respaldar la informacion" />
		</popup>
		<popup id="pupRestaurar">
			<toolbarbutton
				label="Presione aquí para restaurar la informacion" />
		</popup>
		<popup id="pupCancelarReporte">
			<toolbarbutton
				label="Presione aqui para limpiar los campos" />
		</popup>
		<popup id="pupSalir">
			<toolbarbutton label="Salir de la vista" />
		</popup>
		<!-- Fin de popus -->

		<separator />
		<separator />
		<separator />
		<separator />
		<separator />
		<groupbox width="96%" height="auto"
			style="margin-left:2%;margin-right:1%">
			<separator />
			<separator />
			<panel border="normal" width="95%"
				style="margin-left:2%;margin-right:3%" height="auto%">
				<panelchildren>
					<groupbox style="margin:5px;" width="99%"
						mold="3d">
						<grid width="100%" sclass="fgrid"
							style="border:normal;" height="100%">
							<columns>
								<column label="" width="100%"
									height="100%" />
							</columns>
							<rows>
								<row>
									<radiogroup id="rgDestino" visible="false">
										<grid>
											<rows>
												<row>
													<hbox>
														<radio 
															id="rbLocal"> 
															<attribute name="onCheck">
															<![CDATA[
	gbSistema.setVisible(true);
	btnRespaldar.setVisible(true);
	btnRestaurar.setVisible(false);
]]>
														</attribute>
														</radio>
														<label
															value="Respaldo" />
													</hbox>

													<hbox>
														<radio selected="true"
															id="rbDispositivo">
															<attribute name="onCheck">
														<![CDATA[
	gbSistema.setVisible(true);
	btnRestaurar.setVisible(true);
	btnRespaldar.setVisible(false);
]]>
														</attribute>
														</radio>
														<label
															value="Restauracion" />
													</hbox>
												</row>
											</rows>
										</grid>
									</radiogroup>
								</row>
							</rows>
						</grid>
					</groupbox>
					<groupbox style="margin:5px;" width="99%" mold="3d"
						id="gbSistema" visible="true">
						<caption
							label="Seleccione el Sistema Operativo" />
						<grid sclass="fgrid" style="border:normal;">
							<rows>
								<row>
									<radiogroup id="rgSistema">
										<grid>
											<rows>
												<row>
													<hbox>
														<radio
															id="rbWindows">
															<attribute name="onCheck">
															<![CDATA[
	gbDispositivo.setVisible(true);
]]>
														</attribute>
														</radio>
														<label
															value="Windows" />
													</hbox>

													<hbox>
														<radio
															id="rbLinux">
															<attribute name="onCheck">
														<![CDATA[
	gbDispositivo.setVisible(true);
]]>
														</attribute>
														</radio>
														<label
															value="Linux" />
													</hbox>
												</row>
											</rows>
										</grid>
									</radiogroup>
								</row>
							</rows>
						</grid>
					</groupbox>
					<groupbox style="margin:5px;" width="99%" mold="3d"
						id="gbDispositivo" visible="true">
						<caption
							label="Seleccione el archivo" />
						<grid sclass="fgrid" style="border:normal;">
							<rows>
								<row>
									<hbox>
										<textbox id="txtRuta"/>
										<button id="btnSleccionar"
											class="btn btn-xs btn-success" iconSclass="fa fa-paperclip">
										</button>
									</hbox>
								</row>
							</rows>
						</grid>
					</groupbox>
				</panelchildren>
			</panel>
			<separator />
			<separator />

			<panel border="normal" width="95%"
				style="margin-left:2%;margin-right:3%">
				<panelchildren>

					<div sclass="" align="center">
						<separator />
						<div sclass="btn-group">
							<hbox>
								<button id="btnRespaldar" tabindex="1"
									class="btn btn-xs btn-info" iconSclass="fa fa-folder-o" tooltiptext="Presione aqui para respaldar" 
									visible="false">
								</button>
								<button id="btnRestaurar" tabindex="2"
									 tooltiptext="Presione aqui para Restaurar" 
									 class="btn btn-xs btn-info" iconSclass="fa fa-repeat"
									
									visible="true">
								</button>

								<separator />
								<button id="btnCancelar" tabindex="3"
									 sclass="btn" tooltiptext="Cancelar"
									class="btn btn-xs btn-danger" iconSclass="fa fa-times">
								</button>
								<!-- <button id="btnSalir" tabindex="4"
									 tooltip="pupSalir"
									class="btn btn-xs btn-warning" iconSclass="fa fa-sign-out">
								</button>
								 -->
							</hbox>
							<separator />
						</div>
					</div>
				</panelchildren>
			</panel>
		</groupbox>
		<separator />
		<separator />
		<separator />
	</window>
</zk>