<zk xmlns:n="xhtml" xmlns:w="native">
	<div apply="org.zkoss.bind.BindComposer, vistaModelo.CambiarContrasenaViewModel"
		viewModel="@id('vm') @init('vistaModelo.CambiarContrasenaViewModel')">
		<div class="row">
			<div class="col-md-12 ">
				<div class="row">
					<div class="col-md-5 col-md-offset-3">
						<div class="widget-body">
							<div class="widget-main">
								<div>
									<div class="form-horizontal">
										<separator></separator>
										<separator></separator>
										<div class="form-group">
											<div class="col-md-12">
												<n:label
													style='font-weight:bolder'
													class="col-sm-5 control-label no-padding-right">
													Contraseña Actual:
												</n:label>
												<div class="col-sm-7">
													<div
														class="block clearfix panel panel-default">
														<div
															class="block input-icon input-icon-right">
															<textbox
																type="password" id="claveactual" class="form-control " />
															<n:i
																class="ace-icon fa fa-lock">
															</n:i>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="col-md-12">
												<n:label
													style='font-weight:bolder'
													class="col-sm-5 control-label no-padding-right">
													Nueva Contraseña:
												</n:label>
												<div class="col-sm-7">
													<div
														class="block clearfix panel panel-default">
														<div
															class="block input-icon input-icon-right">
															<textbox
																type="password" id="clavenueva" class="form-control " />
															<n:i
																class="ace-icon fa fa-lock">
															</n:i>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="col-md-12">
												<n:label
													style='font-weight:bolder'
													class="col-sm-5 control-label no-padding-right">
													Repetir Contraseña:
												</n:label>
												<div class="col-sm-7">

													<div
														class="block clearfix panel panel-default">
														<div
															class="block input-icon input-icon-right">
															<textbox
																type="password" id="repetirclave" class="form-control" />
															<n:i
																class="ace-icon fa fa-lock">
															</n:i>
														</div>
													</div>
												</div>
											</div>
										</div>



									</div>

									<separator></separator>
									<separator></separator>
									<separator></separator>

									<div id="box" visible="false"
										class="alert alert-danger">
										<label id="message" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>


			<style>
				.z-datebox-input { // simlar to bootstrap's form-control
				class display: table-cell; width: 100%; margin-bottom:
				0; height: 34px; padding: 6px 12px; font-size: 14px;
				line-height: 1.428571429; color: #555; vertical-align:
				middle; background-color: #fff; border: 1px solid #ccc;
				border-radius: 4px; box-shadow: inset 0 1px 1px
				rgba(0,0,0,0.075); transition: border-color ease-in-out
				.15s,box-shadow ease-in-out .15s;
				border-top-right-radius: 0; border-bottom-right-radius:
				0; } .z-datebox-button { // simlar to bootstrap's
				input-group-addon class padding: 6px 12px; font-size:
				14px; font-weight: normal; line-height: 1; text-align:
				center; background-color: #eee; border: 1px solid #ccc;
				border-radius: 4px; width: 1%; white-space: nowrap;
				vertical-align: middle; display: table-cell;
				border-bottom-left-radius: 0; border-top-left-radius: 0;
				border-left: 0; }
			</style>
		</div>
		<div class="clearfix form-actions">
			<div align="center">
				<button id="btnCambiarContrasenna" tooltiptext="Guardar"
					class="btn btn-primary btn-md"
					iconSclass="z-icon-floppy-o bigger-160">
				</button>

			</div>
		</div>
	</div>
</zk>