<zk xmlns:n="xhtml">

	<zscript>
<![CDATA[
	modelo.entidad.Persona person = arg.get("objeto");
]]>
</zscript>

	<panel border="none" collapsible="false" sclass="transparent">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.SancionViewModel')">


			<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12"
				width="100%" align="">

				<div class="row">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-body ">
						<div class="widget-main">
							<div>
								<div>
									<div>

										<div class="form-horizontal">


											<div
												class="form-horizontal">
												<div
													class="form-group">
													<n:label
														style='font-weight:bolder'
														class="col-sm-3 control-label no-padding-right">

														Cédula:
													</n:label>

													<div
														class="col-md-4 col-xs-12">
														<textbox
															id="cedbuscar" type="text" value="@bind(vm.cedulabuscar)"
															placeholder="Buscar..." class="input-prepend col-xs-8" />
														<button id=""
															iconSclass="fa fa-search" class='btn btn-info btn-sm'
															onClick="@command('BuscarCedula')">
														</button>
													</div>
												</div>
												<n:hr></n:hr>
												<n:br></n:br>
												<n:br></n:br>


												<div
													class="form-group">
													<n:label
														style='font-weight:bolder'
														class="col-sm-3 control-label no-padding-right">
														Cédula:
													</n:label>

													<div
														class="col-sm-9">
														<textbox
															type="text" id="" value="@bind(vm.persona.cedPersona)"
															class="col-xs-3 col-sm-3" disabled="true" />
													</div>


												</div>


												<div
													class="form-group">
													<n:label
														style='font-weight:bolder'
														class="col-sm-3 control-label no-padding-right">
														Nombre:
													</n:label>

													<div
														class="col-sm-9">
														<textbox
															type="text" id="" value="@bind(vm.persona.nombrePersona)"
															class="col-xs-3 col-sm-3" disabled="true" />
													</div>


												</div>

												<div
													class="form-group">
													<n:label
														style='font-weight:bolder'
														class="col-sm-3 control-label no-padding-right">
														Apellido:
													</n:label>

													<div
														class="col-sm-9">
														<textbox
															type="text" id=""
															value="@bind(vm.persona.apellidoPersona)"
															class="col-xs-3 col-sm-3" disabled="true" />
													</div>
												</div>
												<div
													class="form-group">
													<n:label
														style='font-weight:bolder' for="lboxRole"
														class="col-sm-3 control-label no-padding-right">
														Tipo Sanción:
													</n:label>
													<div
														class="col-sm-8">
														<combobox
															readonly="true" id="comboTipoSancion"
															placeholder="Seleccione..."
															model="@load(vm.allTipoSancion)"
															selectedItem="@bind(vm.sancion.tipoSancion)">
															<template
																name="model">
																<comboitem
																	label="@load(each.nombreTipoSancion)"
																	value="@load(each)" />
															</template>
														</combobox>
													</div>
												</div>


												<div
													class="form-horizontal">



													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-3 control-label no-padding-right">
															Descripción:
														</n:label>

														<div
															class="col-sm-9">
															<textbox
																id="descripcion" type="text" rows="5"
																value="@bind(vm.sancion.descSancion)"
																class="col-xs-3 col-sm-3" />
														</div>




													</div>

													<div
														class="space-4">
													</div>
												</div>


											</div>





										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="space-100"></div>
					</div>
					<div class="clearfix form-actions">
						<div align="center">

							<button id="" tooltiptext="Enviar"
								class="btn btn-primary btn-md"
								iconSclass="z-icon-fa fa-paper-plane-o bigger-140" type="button"
								onClick="@command('registrarSancion')">
							</button>

							<button id="btnLimpiar"
								tooltiptext="Limpiar" class="btn btn-danger btn-md"
								iconSclass="z-icon-eraser	bigger-140" type="button"
								 onClick="@command('LimpiarSancion')">

							</button>

						</div>
					</div>


				</div>
			</div>

		</panelchildren>
	</panel>

</zk>