<zk xmlns:n="xhtml">
	<panel border="none" collapsible="false" sclass="transparent">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.MotivoViewModel')">
			<grid sclass="domain"
				model="@load(vm.obtenerTipos)"
				mold="paging" pageSize="8">
				<columns>
					<column iconSclass="z-icon-filter orange"
						width="12%" sort="auto(nombre)" align="center">
						<textbox instant="true"
							value="@bind(vm.motivoFilter.nombre)"
							onChange="@command('changeFilter')" />
						<separator spacing="2%" />
						<div>
							<label value="Motivo"
								style="font-weight:bold;" />
						</div>
					</column>
					<column align="center" width="18%">
						<separator spacing="2%" />
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<div>
							<label value="Descripción"
								style="font-weight:bold;" />
						</div>
					</column>
					<column apply="controlador.ControladorModalAbrir"
						align="center" width="10%">
						<div>
							<button class="btn btn-grey btn-sm"
								tooltiptext="Imprimir" iconSclass="ace-icon fa fa-print"
								onClick="@command('abrirModal')">
							</button>
						</div>
						<separator></separator>
						<button id="registrarMotivo" tooltiptext="Nuevo"
							class="btn btn-primary btn-sm" iconSclass="ace-icon fa fa-plus"
							type="button">
						</button>
					</column>
				</columns>

				<template name="model">
					<row>
						<label value="@load(each.nombreMotivo)" />
						<label value="@load(each.descMotivo)" />
						<div>
							<button
								iconSclass="ace-icon fa fa-pencil-square-o"
								class="btn btn-warning btn-sm" tooltiptext="Editar"
								type="button"
								onClick="@command('changeEditable', editarMotivo=each)" />
							<button type="button" tooltiptext="Eliminar"
								iconSclass="ace-icon fa fa-trash-o"
								sclass="btn btn-danger btn-sm"
								onClick="@command('changeEditableStatus', motivo=each)" />
						</div>
					</row>
				</template>
				<foot>
					<footer span="6" class="footer_right"
						label="@load(vm.footer)" />
				</foot>

			</grid>
		</panelchildren>
	</panel>

</zk>