<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
<panel border="none" collapsible="false" sclass="transparent">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.InsolventeViewModel')">
			<grid  sclass="domain" model="@load(vm.insolventeModel)"
				mold="paging" pageSize="10">
				<columns>
				<column iconSclass="z-icon-filter blue" >
						<textbox instant="true" width="200px"
							value="@bind(vm.filtroInsolvente.cedula)"
							onChange="@command('changeFilter')" placeholder="Cedula" />
					</column>
					<column iconSclass="z-icon-filter blue" >
						<textbox instant="true" width="200px"
							value="@bind(vm.filtroInsolvente.nombre)"
							onChange="@command('changeFilter')" placeholder="Nombre" />
					</column>
					<column iconSclass="z-icon-filter blue" >
						<textbox instant="true" width="200px"
							value="@bind(vm.filtroInsolvente.apellido)"
							onChange="@command('changeFilter')" placeholder="Apellido" />
					</column>	
					<column >
					<label value="Fecha Vencimiento" />	
					</column> 
					<column apply="controlador.ControladorModalAbrir" align="center" width="10%">
						<div>
							<button class="btn btn-grey btn-sm"
								tooltiptext="Imprimir" iconSclass="ace-icon fa fa-print">
							</button>
						</div>
						<separator></separator>
						<button id="registrarinsolventes" tooltiptext="Nuevo"
							class="btn btn-primary btn-sm" iconSclass="z-icon-plus"
							type="reset">
						</button>
					</column> 
					 	
				</columns>
				<template name="model">
					<row>
						<label value="@load(each.cedula)" />
						<label value="@load(each.nombre)" />
						<label value="@load(each.apellido)" />
						<label value="@load(each.fechavencimiento)" />
						<button iconSclass="z-icon-edit" class="btn btn-warning btn-sm" tooltiptext="Editar" />
					</row>
				</template>
				<foot>
					<footer span="6" class="footer_right"
						label="@load(vm.footer)" />
				</foot>
			</grid>
		</panelchildren>
	</panel>

</zk>