<zk xmlns:n="xhtml">
	<panel border="none" collapsible="false" sclass="transparent"
		width="100%">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.PreferenciaViewModel')">
			<grid sclass="domain" model="@load(vm.obtenerTipos)"
				mold="paging" pageSize="7">
				<columns>
					<column iconSclass="z-icon-filter orange"
						align="center">
						<textbox instant="true" width="80%"
							value="@bind(vm.preferenciaFilter.categoria)"
							onChange="@command('changeFilter')" />
						<separator spacing="2%" />
						<div>
							<label value="Categoría"
								style="font-weight:bold;" />
						</div>
					</column>
					<column iconSclass="z-icon-filter orange"
						align="center">
						<textbox instant="true" width="80%"
							value="@bind(vm.preferenciaFilter.nombre)"
							onChange="@command('changeFilter')" />
						<separator spacing="2%" />
						<div>
							<label value="Sub-Categoría"
								style="font-weight:bold;" />
						</div>
					</column>
					<column align="center">
						<separator spacing="2%" />
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<div>
							<label value="Descripción"
								style="font-weight:bold;" />
						</div>
					</column>
					<column apply="controlador.ControladorModalAbrir"
						align="center" width="10%">
						<div>
							<button class="btn btn-grey btn-sm"
								tooltiptext="Imprimir" iconSclass="ace-icon fa fa-print"
								onClick="@command('abrirModal')">
							</button>
						</div>
						<separator></separator>
						<button id="registrarPreferencia"
							tooltiptext="Nuevo" class="btn btn-primary btn-sm"
							iconSclass="z-icon-plus" type="reset">
						</button>
					</column>
				</columns>
				<template name="model">
					<row>
						<label
							value="@load(each.categoria.nombreCategoria)" />
						<label value="@load(each.nombrePreferencia)" />
						<label value="@load(each.descPreferencia)" />
						<div>
							<button iconSclass="z-icon-edit"
								class="btn btn-warning btn-sm" tooltiptext="Editar"
								type="button"
								onClick="@command('changeEditable', editarPreferencia=each)" />
							<button type="button" tooltiptext="Eliminar"
								iconSclass="ace-icon fa fa-trash-o"
								sclass="btn btn-danger btn-sm"
								onClick="@command('changeEditableStatus', preferencia=each)" />
						</div>
					</row>
				</template>
				<foot>
					<footer span="6" class="footer_right"
						label="@load(vm.footer)" />
				</foot>
			</grid>
		</panelchildren>
	</panel>
</zk>