<zk>
	<style src="/widgets/grid/master_detail/style.css" />
	<grid sclass="domain" oddRowSclass="myodd" height="50%">
		<columns>
			<column sort="auto" label="Comisión" />
			<column label="Responsable" sort="auto" />
			<column label=""  />
		</columns>
		<rows>
			<row>
				<label
					value="La Candelaria" />
				<label value="Martín Gutiérrez" />
				<div class="col-md-12 " align="center">
					<button tooltiptext="Ejecutado"
						class="btn btn-primary btn-sm" iconSclass="z-icon-check-square-o bigger-140"
						type="button">
					</button>
					<button tooltiptext="No Ejecutado"
						class="	btn btn-danger btn-sm"
						iconSclass="z-icon-times bigger-140" type="button">
					</button>
				</div>
			</row>
			<row>
				<label
					value="Logistica" />
				<label value="Lionel Messi" />
				<div class="col-md-12 " align="center">
					<button tooltiptext="Ejecutado"
						class="btn btn-primary btn-sm" iconSclass="z-icon-check-square-o bigger-140"
						type="button">
					</button>
					<button tooltiptext="No Ejecutado"
						class="	btn btn-danger btn-sm"
						iconSclass="z-icon-times bigger-140" type="button">
					</button>
				</div>
			</row>
		</rows>
	</grid>
</zk>