<zk>
	<panel border="none" collapsible="false" sclass="transparent">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.SancionViewModel')">
			<grid sclass="domain" model="@load(vm.sancionModel)"
				mold="paging" pageSize="10">
				<columns>
					<column iconSclass="z-icon-filter blue">
						<textbox instant="true" width="100px"
							value="@bind(vm.sancionFilter.codigo)"
							onChange="@command('changeFilter')" placeholder="Codigo" />
					</column>
					 
					<column iconSclass="z-icon-filter blue">
						<textbox instant="true" width="100px"
							value="@bind(vm.sancionFilter.cedula)"
							onChange="@command('changeFilter')" placeholder="Cedula" />
					</column>
					<column iconSclass="z-icon-filter blue">
						<textbox instant="true" width="100px"
							value="@bind(vm.sancionFilter.nombre)"
							onChange="@command('changeFilter')" placeholder="nombre" />
					</column>
					<column iconSclass="z-icon-filter blue">
						<textbox instant="true" width="100px"
							value="@bind(vm.sancionFilter.tipo)"
							onChange="@command('changeFilter')" placeholder="Tipo Sancion" />
					</column>
					<column iconSclass="z-icon-filter blue">
						<textbox instant="true" width="100px"
							value="@bind(vm.sancionFilter.fecha)"
							onChange="@command('changeFilter')" placeholder="Fecha" />
					</column>
					
					
					<column iconSclass="z-icon-filter blue">
						<textbox instant="true" width="110px"
							value="@bind(vm.sancionFilter.codIncidencia)"
							onChange="@command('changeFilter')" placeholder="Cod. Incidencia" />
					</column>


					<column align="center">
						<label value="Apelar"></label>
					</column>
				</columns>
				<template name="model">
					<row>
						<label value="@load(each.codigo)" />
					<!-- 	<label value="@load(each.descripcion)" />  -->
					<label value="@load(each.cedula)" />
					<label value="@load(each.nombre)" />
						<label value="@load(each.tipo)" />
						<label value="@load(each.fecha)" />
						
						
						<label value="@load(each.codIncidencia)" />
						<div>
							<button apply="" id=""
								iconSclass="z-icon-search" class="btn btn-warning btn-sm"
								tooltiptext="Ver Detalle" />
							<button
								apply="controlador.ControladorModalAbrir" id="btnApelar"
								iconSclass="z-icon-briefcase" class="btn btn-danger btn-sm"
								tooltiptext="Apelar" />
							
						</div>
					</row>
				</template>
				<foot>
					<footer span="6" class="footer_right"
						label="@load(vm.footer)" />
				</foot>
			</grid>
		</panelchildren>
	</panel>
</zk>