<zk xmlns:n="xhtml">
<zscript>
	import java.text.SimpleDateFormat;
	SimpleDateFormat sdf = new SimpleDateFormat("dd/MM/yyyy");
</zscript>
	<panel border="none" collapsible="false" sclass="transparent">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.EventoViewModel')">
			<grid sclass="domain"
				model="@load(vm.obtenerEventosPlanificados) @template('noneditable')"
				mold="paging" pageSize="6">
				<columns>
					<column iconSclass="z-icon-filter orange"
						width="30%" sort="auto(tipo)" align="center">
						<textbox instant="true" width="70%"
							value="@bind(vm.tipoFilter.nombre)"
							onChange="@command('changeFilter')" placeholder="Tipo de Evento" />
					</column>
					<column iconSclass="z-icon-filter orange"
						width="30%" sort="auto(nombre)" align="center">
						<textbox instant="true" width="70%"
							value="@bind(vm.tipoFilter.nombre)"
							onChange="@command('changeFilter')" placeholder="Nombre del Evento" />
					</column>
					<column align="center"  width="20%">
						<textbox instant="true"
							placeholder="Fecha" readonly="true" />
					</column>
					<column apply="controlador.ControladorModalAbrir"
						align="center" width="20%">
						<div>
							<button class="btn btn-grey btn-sm"
								tooltiptext="Imprimir" iconSclass="ace-icon fa fa-print">
							</button>
						</div>
					</column>
				</columns>

				<template name="noneditable">
					<row>
						<label value="@load(each.tipoEvento.nombreTipoEvento)" />
						<label value="@load(each.nombreEvento)" />
                        <label value="${sdf.format(each.fechaEvento)}" />
						<div>
							<button iconSclass="z-icon-cog"
								class="btn btn-success btn-sm" tooltiptext="Ejecución" type="button"
								onClick="@command('changeEditableEjecucion', evento=each)" />
						</div>
					</row>
				</template>
				
			</grid>
		</panelchildren>
	</panel>
	
</zk>