<zk xmlns:n="xhtml">
	<zscript>
	import java.text.SimpleDateFormat;
	SimpleDateFormat sdf = new SimpleDateFormat("dd/MM/yyyy");
</zscript>
	<panel border="none" collapsible="false" sclass="transparent">
		<panelchildren
			apply="org.zkoss.bind.BindComposer, vistaModelo.EventoViewModel"
			viewModel="@id('vm') @init('vistaModelo.EventoViewModel')"
			style="border-style: ridge;">
			<grid sclass="domain"
				model="@load(vm.eventosResultados) @template('noneditable')"
				mold="paging" pageSize="6" style="border-style: ridge;">
				<columns>
					<column iconSclass="z-icon-filter orange"
						width="30%" sort="auto(tipo)" align="center">
						<textbox instant="true"
							value="@bind(vm.filterEvento.tipo)"
							onChange="@command('changeFilterEjecutados')" placeholder="" />
						<separator></separator>
						<separator></separator>
						<div>
							<label value="Tipo de Evento"
								style="font-weight:bold;" />
						</div>
					</column>
					<column iconSclass="z-icon-filter orange"
						width="30%" sort="auto(nombre)" align="center">
						<textbox instant="true"
							value="@bind(vm.filterEvento.nombre)"
							onChange="@command('changeFilterEjecutados')" placeholder="" />
						<separator></separator>
						<separator></separator>
						<div>
							<label value="Nombre del Evento"
								style="font-weight:bold;" />
						</div>
					</column>
					<column width="30%" sort="auto(nombre)"
						align="center">
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<div>
							<label value="Fecha del Evento"
								style="font-weight:bold;" />
						</div>
					</column>
					<column apply="controlador.ControladorModalAbrir"
						align="center" width="20%">

					</column>
				</columns>

				<template name="noneditable">
					<row>
						<label
							value="@load(each.tipoEvento.nombreTipoEvento)" />
						<label value="@load(each.nombreEvento)" />

						<label value="${sdf.format(each.fechaEvento)}" />

						<div>
							<button iconSclass="z-icon-cog"
								class="btn btn-success btn-sm" tooltiptext="Resultados"
								type="button"
								onClick="@command('changeEditableResultados', evento=each)" />
						</div>
					</row>
				</template>
				<foot>
					<footer span="6" class="footer_right"
						label="@load(vm.footer3)" />
				</foot>
			</grid>
		</panelchildren>
	</panel>

</zk>