<zk>
	<panel apply="controlador.ControladorModalAbrir"  border="none"
		collapsible="false" sclass="transparent" width="100%">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.PersonaViewModel')">
			<grid sclass="domain" model="@load(vm.propietariosActivosModel)"
				mold="paging" pageSize="8">
				
				<columns>

					<column iconSclass="z-icon-filter orange"
						width="60%" align="center">
						<textbox instant="true" width="40%"
							value="@bind(vm.personaFilter.cedula)"
							onChange="@command('changeFilterPro')"   />
						  <separator spacing="2%"/>
						<div>
							<label value="Cédula"
								style="font-weight:bold;" />
						</div>
					</column>
					<column width="60%" align="center">
						<separator></separator>
						<separator />
						<separator />
						<separator />
						<separator />
						<div>
							<label value="Nombre"
								style="font-weight:bold;" />
						</div>
					</column>
					<column width="60%" align="center">
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<div>
							<label value="Apellido"
								style="font-weight:bold;" />
						</div>
					</column>


					<column align="center" width="20%">
 
					</column>




				</columns>
				
				
				<template name="model">
					<row>

					 
						<label value="@load(each.cedPersona)" />
						<label value="@load(each.nombrePersona)" />
						<label value="@load(each.apellidoPersona)" />
					 
						
						<div class="">

							<button tooltiptext="Ver"
								class="btn btn-success btn-sm"
								iconSclass="glyphicon glyphicon-eye-open"
								onClick="@command('showModalBeneficiarios', propietario=each)" />



						</div>

					</row>
				</template>
				<foot>
					<footer span="6" class="footer_right"
						label="@load(vm.footer3)" />
				</foot>
			</grid>
		</panelchildren>
	</panel>
</zk>




