<zk xmlns:n="xhtml">

<zscript>
<![CDATA[
	//boolean comision = arg.get("comision");
	//boolean recurso = arg.get("recurso");
	//boolean indicador = arg.get("indicador");
]]>
</zscript>

	<panel border="none" collapsible="false" sclass="transparent">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.EventoViewModel')">
			<grid sclass="domain"
				model="@load(vm.obtenerEventos) @template('noneditable')"
				mold="paging" pageSize="6">
				<columns>
					<column iconSclass="z-icon-filter orange"
						width="30%" sort="auto(tipo)" align="center">
						<textbox instant="true"
							value="@bind(vm.tipoFilter.tipo)"
							onChange="@command('changeFilter')" placeholder="Tipo de Evento" />
					</column>
					<column iconSclass="z-icon-filter orange"
						width="30%" sort="auto(nombre)" align="center">
						<textbox instant="true"
							value="@bind(vm.tipoFilter.nombre)"
							onChange="@command('changeFilter')" placeholder="Nombre del Evento" />
					</column>
					<column align="center" width="20%">
						<textbox instant="true"
							placeholder="Fecha" readonly="true" />
					</column>
					<column apply="controlador.ControladorModalAbrir"
						align="center" width="20%">
						<div>
							<button class="btn btn-grey btn-sm"
								tooltiptext="Imprimir" iconSclass="ace-icon fa fa-print">
							</button>
						</div>
					</column>
				</columns>

				<template name="noneditable">
					<row>
						<label value="@load(each.tipoevento)" />
						<label value="@load(each.nombre)" />
						<label value="@load(each.fechaevento)" />
						<div>
							
							<button iconSclass="z-icon-search"
							class="btn btn-primary btn-sm" tooltiptext="Agregar" type="button"
							onClick="@command('changeEditableIndicadores', evento=each)" />
						</div>
						
					</row>
				</template>
				
			</grid>
		</panelchildren>
	</panel>
	
</zk>