<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="xhtml">

	<panel border="none" collapsible="false" sclass="page-content">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.FilterViewModelTipoMiembro')">




			<grid sclass="domain" model="@load(vm.miembroModel)"
				mold="paging" pageSize="7">
				<columns>
					<column iconSclass="z-icon-filter blue"
						align="center">
						<textbox instant="true" width="200px"
							value="@bind(vm.miembroFilter.codigo)"
							onChange="@command('changeFilter')" placeholder="Codigo" />
					</column>
					<column iconSclass="z-icon-filter blue"
						align="center">
						<textbox instant="true" width="200px"
							value="@bind(vm.miembroFilter.tipo)"
							onChange="@command('changeFilter')" placeholder="Nombre" />
					</column>
					<column apply="controlador.ControladorDialogoModal"
						align="center" width="10%">
						<div>
							<button class="btn btn-grey btn-sm"
								tooltiptext="Imprimir" iconSclass="ace-icon fa fa-print">
							</button>
						</div>
						<separator></separator>
						<button id="registrarmiembro"
							tooltiptext="Nuevo" class="btn btn-primary btn-sm"
							iconSclass="z-icon-plus" type="reset">
						</button>
					</column>
				</columns>
				<template name="model">
					<row>
						<label value="@load(each.codigo)" />
						<label value="@load(each.tipo)" />
						<div>
							<button iconSclass="ace-icon fa fa-search"
								class="btn btn-warning btn-sm" tooltiptext="Ver" type="button"
								onClick="  " />
							<button type="button" tooltiptext="Eliminar"
								iconSclass="ace-icon fa fa-trash-o"
								sclass="btn btn-danger btn-sm"
								onClick="  " />
						</div>
					</row>
				</template>
				<foot>
					<footer span="6" class="footer_right"
						label="@load(vm.footer)" />
				</foot>
			</grid>
		</panelchildren>
	</panel>

</zk>