<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="xhtml">
	<grid model="${arg.imagenes}"
		class="table table-striped table-bordered table-hover" width="100%">
		<columns class="panel panel-default">
			<column sort="auto(numero)" width="10%" align="center">
				<n:h5 class="lighter block gray">Numero</n:h5>
			</column>
			<column align="center" width="50%">
				<n:h5 class="lighter block gray">Imagen</n:h5>
			</column>
			<column width="20%" align="center">
				<n:h5 class="lighter block gray">Fecha de Emision</n:h5>
			</column>
			<column width="17%" align="center">
				<n:h5 class="lighter block gray">Editar Imagen</n:h5>
			</column>
		</columns>
		<template name="model">
			<row value="${forEachStatus.index}">
				<!-- use custom-attributes to store quarter and months in row,
					so it can be accessed later when detail onOpen -->
				<custom-attributes imagen="${each}" />
				<label class="block blue" value="${each.numero}" width="10%" />
				<image class="img-thumbnail" src="${each.ruta}"
					width="50%" height="20%" />
				<label class="block blue" value="${each.fechaEmision}" width="10%" />
				<button iconSclass="ace-icon fa fa-edit"
					class="btn btn-warning btn-md" tooltiptext="Editar">
				</button>
			</row>
		</template>
	</grid>
</zk>