<zk xmlns:n="native">
	<zscript>
<![CDATA[
	modelo.entidad.Evento objetoCargar = arg.get("objetoEvento");
]]>
</zscript>
	<window id="ModalMotivo" border="normal" width="490px"
		apply="org.zkoss.bind.BindComposer,controlador.ControladorModalCerrar"
		position="center,center" action="show: slideDown;hide: slideUp"
		class="panel panel-default"
		viewModel="@id('vm') @init('vistaModelo.RegistrarEventoCanceladoViewModel')">
		<window closable="true" id="closeBtnMotivo"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				Registrar Motivo
			</caption>
		</window>
		<div class="widget-body">
			<div class="widget-main">
				<!--Encabezado -->
				<div
					class="profile-user-info profile-user-info-striped">

					<div class="profile-info-row">
						<div class="profile-info-name">
							Nombre del Evento:
						</div>

						<div>
							<div class="profile-info-value">
								<label class="editable"
									value="${objetoCargar.nombreEvento}" />
							</div>


						</div>
					</div>

				</div>

			</div>
		</div>

		<div>
			<div>
				<div>
					<div class="form-horizontal">

						<div class="form-group">
							<n:label for="lboxRole"
								style='font-weight:bolder'
								class="col-sm-3 control-label no-padding-right">
								Motivo:
							</n:label>
							<div class="col-sm-6">
								<combobox readonly="true"
									selectedItem="@bind(vm.cancelacion.motivo)" value="@load(vm.motivolimpiar)" 
									placeholder="Seleccione..." model="@load(vm.listaMotivos)">
									<template name="model">
										<comboitem
											label="@load(each.nombreMotivo)" value="@load(each)" />
									</template>
								</combobox>
							</div>
						</div>
						<div class="form-group">
							<n:label style='font-weight:bolder'
								class="col-sm-3 control-label no-padding-right">
								Descripción:
							</n:label>

							<div class="col-sm-9">
								<textbox rows="5"
									value="@bind(vm.cancelacion.descCancelacion)"
									class="col-xs-8 col-sm-8" />
							</div>
						</div>
						<div class="space-4"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix form-actions">
			<div class="col-md-9 col-md-offset-3">
				<button id="btnRegistrar" tooltiptext="Registrar"
					class="btn btn-primary btn-md"
					iconSclass="z-icon-floppy-o bigger-140" type="button"
					onClick="@command('RegistrarCancelacion',Evento=objetoCargar,win=ModalMotivo)">
				</button>

				<button id="" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	bigger-140"
					onClick="@command('LimpiarCancelacion')">

				</button>

				<button tooltiptext="Salir" id=""
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out bigger-140" type="button"
						onClick="@command('CerrarModal',win=ModalMotivo)">
				</button>
			</div>
		</div>

	</window>
</zk>