<zk xmlns:n="native">

	<zscript>
<![CDATA[
	modelo.entidad.Arrendamiento solAprob = arg.get("arrendamiento");
]]>
</zscript>

	<window id="modalDialog2" border="normal" width="490px"
		apply="org.zkoss.bind.BindComposer,controlador.ControladorModalCerrar,vistaModelo.EvaluarSolicitudArrendamientoViewModel"
		position="center,center" closable="true"
		action="show: slideDown;hide: slideUp" class="panel panel-default"
		viewModel="@id('vm') @init('vistaModelo.EvaluarSolicitudArrendamientoViewModel')">
		<window closable="true" id="closeBtn2"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				Registrar Rechazo
			</caption>
		</window>
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>

							<!--Encabezado -->
							<div
								class="profile-user-info profile-user-info-striped">
								<div class="profile-info-row">
									<div class="profile-info-name">
										Cédula:
									</div>

									<div class="profile-info-value">
										<label class="editable" id="ce"
											value="${solAprob.persona.cedPersona}" />
									</div>


								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">
										Nombre:
									</div>

									<div>
										<div
											class="profile-info-value">
											<label class="editable"
												id="nombre"
												value="${solAprob.persona.nombrePersona} ${solAprob.persona.apellidoPersona}" />
										</div>
									</div>
								</div>

							</div>
							<!--Encabezado -->
							<div class="space-9"></div>

							<div class="form-horizontal">

								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Tipo de Rechazo
									</n:label>

									<div class="col-sm-9">
										<combobox id="comboTipoRechazo"
											value="@load(vm.rechazolimpiar)"
											selectedItem="@bind(vm.rechazo.tipoRechazo)"
											model="@load(vm.tiposRechazo)">
											<template name="model">
												<comboitem
													label="@load(each.nombreTipoRechazo)" value="@load(each)" />
											</template>
										</combobox>

									</div>




								</div>
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Descripción
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" rows="5"
											value="@bind(vm.rechazo.descRechazo)" id="descripcionRechazo"
											class="col-xs-8 col-sm-8" />
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-9 col-md-offset-3">
				<button id="registrarRechazoSolicitud"
					tooltiptext="Registrar" class="btn btn-primary btn-md"
					iconSclass="z-icon-check bigger-140"
					onClick="@command('registrarRechazoSolicitud',Solicitud=solAprob,win=modalDialog2)">

				</button>
				<button id="btnLimpiarSolicitud" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	bigger-140"
					onClick="@command('Limpiar')">
				

				</button>

				<button tooltiptext="Salir" id="salirBtn2"
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out bigger-140" type="button">
				</button>
			</div>
		</div>
	</window>
</zk>