<zk xmlns:n="native">

	<zscript>
<![CDATA[
	modelo.entidad.Persona beneficiario = arg.get("beneficiario");
	modelo.entidad.Persona propietario = arg.get("propietario");
	boolean isEdit = arg.get("edit");
	boolean isCreate = arg.get("create");
]]>
</zscript>
	<!-- 	boolean isEdit = arg.get("edit"); -->
	<!-- 	boolean isCreate = arg.get("create"); -->
	<!-- 	boolean isView = arg.get("ver"); -->
	<window id="modalDialog2" border="normal" width="60%"
		apply="controlador.ControladorModalCerrar,org.zkoss.bind.BindComposer, vistaModelo.BeneficiarioViewModel"
		position="center,center" closable="true"
		action="show: slideDown;hide: slideUp" class="panel panel-default"
		viewModel="@id('vm') @init('vistaModelo.BeneficiarioViewModel')">

		<window closable="true" id="closeBtn2"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				<label visible="${isCreate}">
					Registrar Beneficiario
				</label>
				<label visible="${isEdit}">Editar Beneficiario</label>
			</caption>
		</window>
	<!--  EMCABEZADO -->
							<div
								class="profile-user-info profile-user-info-striped">
								<div class="profile-info-row">
									<div class="profile-info-name">
										<label style="font-weight: bold;">Cédula:</label>
									</div>

									<div class="profile-info-value">
										<label
   											value="${propietario.cedPersona}"  
											 />
									</div>
									
									
									
									
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">
										<label style="font-weight: bold;">Nombre:</label>
									</div>

									<div class="profile-info-value">
										<label
   											value="${propietario.nombrePersona} ${propietario.apellidoPersona}"  
											 />
									</div>
								</div>

							</div><!-- FIN DE EMZABEZADO -->
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>
							<div class="form-horizontal">
							<div class="form-group">
									<n:label style='font-weight:bolder'
										class="col-sm-3 control-label no-padding-right">
										Cédula:
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" id="cedula"
											readonly="${isEdit}" value="@bind(vm.beneficiario.cedPersona)"
											placeholder="Buscar..." class="col-xs-6 col-sm-6" />
<!-- 										<BUTTON ID="BTNBUSCAR" -->
<!-- 											DISABLED="${ISEDIT}" ICONSCLASS="FA FA-SEARCH" -->
<!-- 											CLASS='BTN BTN-INFO BTN-SM' /> -->
									</div>

								</div>


								<div class="form-group">
									<n:label style="font-weight:bold;"
										class="col-sm-3 control-label no-padding-right">
										Nombre:
									</n:label>

									<div class="col-sm-9">
										<textbox id="nombre" type="text"
											style="font-size: 14px; padding: 8px"  
											value="@bind(vm.beneficiario.nombrePersona)"
											class="col-xs-6 col-sm-6" />
									</div>
								</div>
								<div class="form-group">
									<n:label style="font-weight:bold;"
										class="col-sm-3 control-label no-padding-right">
										Apellido:
									</n:label>

									<div class="col-sm-9">
										<textbox id="apellido"
											type="text" style="font-size: 14px; padding: 8px"
											 
											value="@bind(vm.beneficiario.apellidoPersona)"
											class="col-xs-6 col-sm-6" />
									</div>
								</div>
								
								<div class="form-group">
									<n:label for="lboxRole"
										style='font-weight:bolder'
										class="col-sm-3 control-label no-padding-right">
										Parentesco:
									</n:label>
									<div class="col-sm-6">
										<combobox readonly="true" 
											model="@load(vm.allParentesco)" 
											id="comboParentesco" 
											selectedItem="@bind(vm.beneficiario.parentesco)">
											<template name="model">
												<comboitem
													label="@load(each.nombreParentesco)" value="@load(each)"/>
											</template>
										</combobox>
									</div>
								</div>
								
								
								<div class="form-group">
									<n:label style="font-weight:bold;"
										class="col-sm-3 control-label no-padding-right">
										Fecha Nacimiento:
									</n:label>

									<div class="col-sm-4">
										<datebox id="fechaNac"
											readonly="true" style="font-size: 14px;"  
											value="@bind(vm.beneficiario.fechaNacPersona)"
											class="col-xs-6 col-sm-6" />
									</div>
								</div>
								<div class="form-group">
									<n:label style="font-weight:bold;"
										class="col-sm-3 control-label no-padding-right">
										Correo Electrónico:
									</n:label>

									<div class="col-sm-9">
										<textbox id="correo" type="text"  
											style="font-size: 14px; padding: 8px"
											value="@bind(vm.beneficiario.correoPersona)"
											class="col-xs-8 col-sm-8" />
									</div>
								</div>




								<div class="row">
									<div class="col-md-6">

										<n:br></n:br>
									</div>
								</div>


								<div sclass="page-header"
										height="1">
										<label
											value="Preferencias" />
									</div>

								<div class="row">
									<div class="col-md-6">
										<div align="left">
											<n:label style="">
												Categoría
											</n:label>
											<n:br></n:br>
											<combobox
												id="comboCategoria" placeholder="Seleccione..."
												readonly="true" model="@load(vm.categorias)"
												value="@load(vm.categorialimpiar)" 
												selectedItem="@bind(vm.categoriaSelected)"
												onChange="@command('activarBotonDeBusqueda')" width="60%"
												mold="rounded">
												<template
													name="model">
													<comboitem
														label="@load(each.nombreCategoria)" value="@load(each)" />
												</template>
											</combobox>




										</div>
										<n:br></n:br>
									</div>

									<div class="col-md-6">
										<div align="left">
											<n:label style="">
												Sub-Categoría
											</n:label>

											<n:br></n:br>
											<combobox
												id="comboPreferencia" placeholder="Seleccione..." value="@load(vm.preferencialimpiar)" 
												readonly="true" model="@load(vm.listaPreferencia)"
												width="60%" selectedItem="@bind(vm.preferenciaSelected)"
												mold="rounded">
												<template
													name="model">
													<comboitem
														label="@load(each.nombrePreferencia)" value="@load(each)" />
												</template>
											</combobox>

											<button sclass="btn-link"
												onClick="@command('agregarPreferenciasPersona')"
												iconSclass="z-icon-plus blue" id=""
												tooltiptext="Agregar preferencia" />
										</div>
									</div>
								</div>

 
							<n:h4>Preferencia Seleccionadas</n:h4>

 

								<div class="widget-box">
									<div class="col-md-12">
										<grid sclass="domain"
											model="@load(vm.listaPreferenciaPersona)"
											emptyMessage="No se encuentran preferencias registradas"
											mold="paging" pageSize="5">

											<columns>
												<column width="20%"
													hflex="">
													Categoría
												</column>
												<column width="20%"
													hflex="">
													Sub-Categoría
												</column>

												<column width="20%"
													hflex="">
													Acciones
												</column>
											</columns>

											<rows>
												<template
													name="model">
													<row>

														<label
															value="@load(each.preferencia.categoria.nombreCategoria)" />
														<label
															value="@load(each.preferencia.nombrePreferencia)" />


														<button
															sclass="btn-link" iconSclass="z-icon-trash-o red"
															tooltiptext="Eliminar"
															onClick="@command('eliminarPreferenciaPersona', preferencia_persona=each)" />
													</row>
												</template>
											</rows>

											<foot>
												<footer span="6" align="center"
													class="footer_right" label="@load(vm.footer3)" />

											</foot>
										</grid>
									</div>

								</div>

								<!-- 
									<div class="widget-box">
									<div class="col-md-12">
									<grid sclass="domain" model="@load(vm.listaActcomision)" mold="paging" pageSize="5">
									
									<columns>
									<column width="50%" hflex="">Nombre</column>
									</columns>
									
									<rows>
									<template name="model">
									<row>
									
									<label
									value="@load(each.actividad.nombreActividad)" />
									
									
									
									</row>
									</template>
									</rows>
									
									<foot>
									<footer span="6" class="footer_right"
									label="@load(vm.footer6)" />
									
									</foot>
									</grid>
									</div>
									
									</div>
									
								-->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix form-actions">
			<div align="center">
				<button id="btnRegistrar" tooltiptext="Guardar"
					class="btn btn-primary btn-md"
					iconSclass="z-icon-floppy-o bigger-140" type="button"
					visible="${isCreate}"
					onClick="@command('RegistrarBeneficiario',Propietario=propietario,win=modalDialog2)">
				</button>

				<button id="btnEditar" tooltiptext="Editar"
					class="btn btn-primary btn-md"
					iconSclass="z-icon-floppy-o bigger-140" type="button"
					visible="${isEdit}"
					onClick="@command('EditarBeneficiario',win=modalDialog2)">
				</button>

				<button id="btnLimpiar" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	bigger-140"
					type="button" visible="${isCreate}" onClick="@command('Limpiar')">
				</button>

				<button id="salirBtn2" tooltiptext="Salir"
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out	bigger-140" type="button">
				</button>
			</div>
		</div>
	</window>
</zk>