<zk xmlns:n="native">

	<zscript>
<![CDATA[
	modelo.entidad.Grupo objGrupo = arg.get("objGrupo");
	boolean isEdit = arg.get("edit");
	boolean isCreate = arg.get("create");
	boolean isView = arg.get("view");
]]>
</zscript>


	<window id="modalDialog" width="50%" border="normal"
		apply="org.zkoss.bind.BindComposer,controlador.ControladorModalCerrar"
		position="center,center" action="show: slideDown;hide: slideUp"
		class="panel panel-default"
		viewModel="@id('vm') @init('vistaModelo.RegistrarGrupoViewModel')">
		<window closable="true" id="closeBtn"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				<label visible="${isCreate}">Registrar Grupo</label>
				<label visible="${isEdit}">Editar Grupo</label>
				<label visible="${isView}">Ver Grupo</label>
			</caption>
		</window>

		<div class="form-horizontal">
			<div class="form-group">
				<n:label class="col-sm-4 control-label no-padding-right"
					style="font-weight:bold;">
					Nombre:
				</n:label>

				<div class="col-sm-8">
					<textbox type="text" id="nombreGrupo"
						disabled="${isView}" value="@bind(vm.grupo.nombreGrupo)"
						class="col-xs-6 col-sm-6" />
				</div>
			</div>

			<div class="form-group">
				<n:label class="col-sm-4 control-label no-padding-right"
					style="font-weight:bold;">
					Descripción:
				</n:label>

				<div class="col-sm-8">
					<textbox type="text" rows="5" disabled="${isView}"
						style="font-size: 14px; padding: 8px"
						value="@bind(vm.grupo.descGrupo)" id="descripcionGrupo"
						class="col-xs-6 col-sm-6" />
				</div>
			</div>
		</div>

		<div class="row col-md-offset-1" visible="${isCreate}">
			<div class="col-md-6">
				<div align="left">
					<n:label style="font-weight:bold;">
						Seleccione las Funciones del Sistema
					</n:label>
					<combobox id="comboAreas"
						placeholder="Seleccione..." readonly="true"
						model="@load(vm.listaFunciones)" width="60%"
						selectedItem="@bind(vm.funcionSelect)" mold="rounded">
						<template name="model">
							<comboitem label="@load(each.nombreFuncion)"
								value="@load(each)" />
						</template>
					</combobox>


					<button sclass="btn-link"
						onClick="@command('agregarFuncionesGrupo')"
						iconSclass="z-icon-plus blue" id=""
						tooltiptext="Agregar Funciones" />

				</div>
				<n:br></n:br>
			</div>
		</div>

		<div class="row col-md-offset-1" visible="${isEdit}">
			<div class="col-md-6">
				<div align="left">
					<n:label style="">
						Seleccione las Funciones del Sistema
					</n:label>
					<n:br></n:br>
					<combobox id="" placeholder="Seleccione..."
						readonly="true" model="@load(vm.listaFunciones)" width="60%"
						selectedItem="@bind(vm.funcionSelect)" mold="rounded">
						<template name="model">
							<comboitem label="@load(each.nombreFuncion)"
								value="@load(each)" />
						</template>
					</combobox>


					<button sclass="btn-link"
						onClick="@command('agregarFuncionesGrupo')"
						iconSclass="z-icon-plus blue" id=""
						tooltiptext="Agregar Funciones" />

				</div>
				<n:br></n:br>
			</div>
		</div>


		<n:h5 class="text-primary">Funciones del Grupo</n:h5>


		<div class="widget-box" visible="${isView}">
			<div class="col-md-12">
				<grid sclass="domain"
					model="@load(vm.listaFuncionesGrupo)" mold="paging" pageSize="4">

					<columns>
						<column width="50%" hflex="">Funciones</column>
						<column width="50%" hflex="">Acciones</column>
					</columns>

					<rows>
						<template name="model">
							<row>

								<label
									value="@load(each.funcion.nombreFuncion)" />


								<button sclass="btn-link"
									visible="false" iconSclass="z-icon-trash-o red"
									tooltiptext="Eliminar"
									onClick="@command('eliminarFuncionesGrupo',FuncionesGrupo=each)">
								</button>
							</row>
						</template>
					</rows>

					<foot>
						<footer span="6" class="footer_right"
							label="@load(vm.footer)" />


					</foot>
				</grid>
			</div>

		</div>

		<div class="widget-box" visible="${isCreate}">
			<div class="col-md-12">
				<grid sclass="domain"
					model="@load(vm.listaFuncionesGrupo)" mold="paging" pageSize="5">

					<columns>
						<column width="50%" hflex="">Funciones</column>
						<column width="50%" hflex="">Acciones</column>
					</columns>

					<rows>
						<template name="model">
							<row>

								<label
									value="@load(each.funcion.nombreFuncion)" />


								<button sclass="btn-link"
									iconSclass="z-icon-trash-o red" tooltiptext="Eliminar"
									onClick="@command('eliminarFuncionesGrupo',FuncionesGrupo=each)">
								</button>
							</row>
						</template>
					</rows>

					<foot>
						<footer span="6" class="footer_right"
							label="@load(vm.footer)" />


					</foot>
				</grid>
			</div>

		</div>

		<div class="widget-box" visible="${isEdit}">
			<div class="col-md-12">
				<grid sclass="domain"
					model="@load(vm.listaFuncionesGrupo)" mold="paging" pageSize="5">

					<columns>
						<column width="50%" hflex="">Funciones</column>
						<column width="50%" hflex="">Acciones</column>
					</columns>

					<rows>
						<template name="model">
							<row>

								<label
									value="@load(each.funcion.nombreFuncion)" />


								<button sclass="btn-link"
									iconSclass="z-icon-trash-o red" tooltiptext="Eliminar"
									onClick="@command('eliminarFuncionesGrupo',FuncionesGrupo=each)">
								</button>
							</row>
						</template>
					</rows>

					<foot>
						<footer span="6" class="footer_right"
							label="@load(vm.footer)" />


					</foot>
				</grid>
			</div>

		</div>


		<div class="clearfix form-actions" align="center">
			<div class="clearfix form-actions">
				<div>
					<button id="btnRegistrar" tooltiptext="Guardar"
						class="btn btn-primary btn-md"
						iconSclass="z-icon-floppy-o bigger-140" type="button"
						visible="${isCreate}"
						onClick="@command('RegistrarGrupo',win=modalDialog)">
					</button>
					<button id="btnEditar" tooltiptext="Editar"
						class="btn btn-primary btn-md"
						iconSclass="z-icon-floppy-o bigger-140" type="button"
						visible="${isEdit}"
						onClick="@command('EditarGrupo',win=modalDialog)">
					</button>
					<button id="" tooltiptext="Limpiar"
						visible="${isCreate}" class=" btn btn-danger btn-md "
						iconSclass="z-icon-eraser	bigger-140" type="button"
						onClick="@command('LimpiarGrupo',win=modalDialog)">
					</button>
					<button id="" tooltiptext="Limpiar"
						visible="${isEdit}" class=" btn btn-danger btn-md "
						iconSclass="z-icon-eraser	bigger-140" type="button"
						onClick="@command('LimpiarGrupo',win=modalDialog)">
					</button>
					<button tooltiptext="Salir" id=""
						class="	btn btn-warning btn-md"
						iconSclass="z-icon-sign-out bigger-140" type="button"
						onClick="@command('Cerrar',win=modalDialog)">
					</button>
				</div>
			</div>
		</div>


	</window>
</zk>