<zk xmlns:n="native">
	<window id="modalDialog" border="normal" width="490px"
		apply="controlador.ControladorModalCerrar" position="center,center"
		closable="true" action="show: slideDown;hide: slideUp">
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>
							<n:h3 class="lighter block green">
								Respuestas
							</n:h3>

							<n:hr></n:hr>

							<div class="form-horizontal">
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										1:
									</n:label>

									<div class="col-sm-12">
										<textbox type="text" id=""
											class="col-xs-6 col-sm-6" />
									</div>
								</div>
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										2:
									</n:label>

									<div class="col-sm-12">
										<textbox type="text" id=""
											class="col-xs-6 col-sm-6" />
									</div>
								</div>
								
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										3:
									</n:label>

									<div class="col-sm-12">
										<textbox type="text" id=""
											class="col-xs-6 col-sm-6" />
									</div>
								</div>
								

								

								<div class="space-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-9"  align = "center">
				<button id="agregarBtn" tooltiptext="Registrar"
					class="btn btn-info btn-md" iconSclass="glyphicon glyphicon-check"
					type="button">

				</button>
				<button id="limpiarBtn" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	"
					type="button">

				</button>

				<button id="closeBtn" tooltiptext="Salir"
					class="	btn btn-warning btn-md" iconSclass="z-icon-sign-out	"
					type="button">

				</button>
			</div>
		</div>
	</window>
</zk>