<zk xmlns:n="native">

	<zscript>
<![CDATA[
	modelo.entidad.Evento evento = arg.get("recurso");
]]>
</zscript>

	<window id="modalDialog" width="70%" height="90%" border="normal"
		apply="controlador.ControladorModalCerrar, vistaModelo.EventoViewModel"
		position="center,center" action="show: slideDown;hide: slideUp"
		class="panel panel-default">
		<window closable="true" id="closeBtn"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-cog" class='blue'>
				<label>Asignar Recursos</label>
			</caption>
		</window>
		<div class="widget-body">
			<div>
				<include src="content/gridRecursoEvento.zul" hflex="5" />
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-12 " align="center">
				<button id="btnRegistrar" tooltiptext="Registrar"
					class="btn btn-primary btn-md" iconSclass="z-icon-check bigger-140"
					type="button">
				</button>
				<button tooltiptext="Salir" id="salirBtn"
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out bigger-140" type="button">
				</button>
			</div>
		</div>
	</window>
</zk>