<zk xmlns:n="native">
	<window id="modalDialog" border="normal" width="50%" 
		apply="controlador.ControladorModalCerrar, vistaModelo.AccionViewModel, org.zkoss.bind.BindComposer"
		position="center,center" closable="true"
		action="show: slideDown;hide: slideUp"
		viewModel="@id('vm') @init('vistaModelo.AccionViewModel')"
		class="panel panel-default">
		<window closable="true" id="closeBtn"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				<label  value="Asignar Acción" />
			</caption>
		</window>
		<zscript>	
	<![CDATA[
	modelo.entidad.Postulacion postulacion = arg.get("objPostulacion");
]]>  
</zscript>

		<!-- 		Trae el ojbPersona -->
		<intbox id="idpost" value="${postulacion.persona.idPersona }"
			class="col-xs-6 col-sm-6" visible="false" />
		<!-- fin 				 -->

		<div class="widget-body"   >
			<div class="widget-main"  >
				<div>
					<div>

						<!--  EMCABEZADO -->
						<div
							class="profile-user-info profile-user-info-striped">
							<div class="profile-info-row">
								<div class="profile-info-name">
									Cédula:
								</div>
								<label
									value="${postulacion.persona.cedPersona}" id=""
									class="col-xs-8 col-sm-8" />


							</div>

							<div class="profile-info-row">
								<div class="profile-info-name">
									Nombre:
								</div>

								<div class="profile-info-value">
									<label
										value="${postulacion.persona.nombrePersona}  ${postulacion.persona.apellidoPersona} "
										id="" class="col-xs-8 col-sm-8" />
								</div>
							</div>

						</div><!-- FIN DE EMZABEZADO -->



						<separator spacing="20px" />

						<div class="form-horizontal">
							<div style="padding-left: 10%;">
								<div class="form-group">
									<n:label style='font-weight:bolder'
										class="col-sm-4 control-label no-padding-right">
										Nro. de Acción:
									</n:label>

									<div class="col-sm-8">
										<textbox id="nroAccion"
											value="@load(vm.disponible.nroAccion) "
											class="col-xs-7 col-sm-7" disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<n:label style='font-weight:bolder'
										class="col-sm-4 control-label no-padding-right">
										Fecha de Ingreso:
									</n:label>

									<div>
										<datebox disabled="true" format="dd-MM-yyyy"
											value="@bind(vm.acciones.fechaAccion)"
											onCreate="self.setValue(new Date())" id="fechaIngreso"
											class="col-xs-5 col-sm-5 input-group " />
									</div>




								</div>

								<div class="space-4"></div>

							</div>

						</div>




					</div>
				</div>

				<div class="clearfix form-actions" align="center" >
					<div class="col-md-8 col-md-offset-2">
						<button id="agregarBtn" tooltiptext="Guardar"
							class="btn btn-primary btn-md"
							iconSclass="z-icon-floppy-o bigger-140" type="button">

						</button>
						 

						<button tooltiptext="Salir" id="closeBtneventos"
							class="	btn btn-warning btn-md"
							iconSclass="z-icon-sign-out bigger-140" type="button">
						</button>
					</div>
				</div>

			</div>
		</div>





	</window>
</zk>