<zk xmlns:n="native">

	<zscript>	
	<![CDATA[
	modelo.entidad.Visita visita = arg.get("objVisita");
]]>  
</zscript>


	<window id="modalDialog" border="normal" width="60%"  
		apply="controlador.ControladorModalCerrar,vistaModelo.Visita_AcompViewModel, org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('vistaModelo.Visita_AcompViewModel')"
		position="center,center" closable="true"
		action="show: slideDown;hide: slideUp" class="panel panel-default">
		<window closable="true" id="closeBtn"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>

				<label>Acompañantes</label>

			</caption>
		</window>
		<intbox id="idpost" value="${visita.idVisita}"
			class="col-xs-6 col-sm-6" visible="false" />
			
			
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div class="row">
						<div>

							<div class=" ">
								<div class="col-lg-11">

									<div class="form-horizontal">
										<div
											class="profile-user-info profile-user-info-striped">
											<div
												class="form-horizontal">

												<!--  EMCABEZADO -->
												<div
													class="profile-user-info profile-user-info-striped">
													<div class="profile-info-row">
														<div class="profile-info-name">
															Cédula:
														</div>
					 									<label
					  										value="${persona.cedPersona}" id=""
															class="col-xs-8 col-sm-8" />
					 								</div>
					
													<div class="profile-info-row">
														<div class="profile-info-name">
															Nombre:
														</div>
					
														<div class="profile-info-value">
															<label
					   											value="${persona.nombrePersona}  ${persona.apellidoPersona} "  
																id="" class="col-xs-8 col-sm-8" />
														</div>
													</div>
					
												</div><!-- FIN DE EMZABEZADO -->
		 							</div>

									 </div>
 									</div>
								</div>

							 
								<div class="widget-body">
									<div class="widget-main">

										<div class="form-horizontal">
											<div sclass="row"
												style="padding-left: 20%;">
 											 </div>
 											</div>
										</div>

 									<groupbox>
										<div width="100%" height="30%" >
											<grid id="gridV"
												sclass="domain" model="@load(vm.acompanteVisita)" mold="paging"
												pageSize="4">
												<columns>
													 
													
													
													<column iconSclass="z-icon-filter orange" width="25%" align="center">
						<textbox instant="true" width="30%"
						 							
							   />
							 <separator spacing="2%"/>
							<div>
							<label value="Cédula"
								style="font-weight:bold;" />
						</div>
					</column>
													
												<column  
						width="25%" align="center">
							<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<div>
							<label value="Nombre"
								style="font-weight:bold;" />
						</div>
					</column>
																	<column  
						width="25%" align="center">
							<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<separator></separator>
						<div>
							<label value="Apellido"
								style="font-weight:bold;" />
						</div>
					</column>


													<column value=""
														 align="center"
														width="20%">

														<separator></separator>
														<button  
														class="btn btn-primary btn-sm"
															iconSclass="ace-icon fa fa-plus"
														type="button" tooltiptext="Nuevo"
														onClick="@command('registarAcompanante', ObjVisita=visita)"/>
													</column>

												</columns>
												<template
													name="model">
													<row>
														<label value="@load(each.acompanante.cedAcompanante )" />
														<label value="@load(each.acompanante.nombreAcompanante)" />
														<label value="@load(each.acompanante.apellidoAcompanante)" />
<!-- 													<div> -->
<!-- 															<button -->
<!-- 																iconSclass="fa fa-pencil-square-o" -->
<!-- 																class="btn btn-warning btn-sm" tooltiptext="Editar" -->
<!-- 																type="button" /> -->

<!-- 															<button -->
<!-- 																type="button" tooltiptext="Eliminar" -->
<!-- 																iconSclass="ace-icon fa fa-trash-o" -->
<!-- 																sclass="btn btn-danger btn-sm" onClick="  " /> -->
<!-- 													</div> -->
													</row>
												</template>

											</grid>
										</div>
									</groupbox>

									<div class="space-4"
										style="margin-top: 20px;">
									</div>



								</div>
<div class="clearfix form-actions">
			<div class="col-md-6 col-md-offset-3"
				style="text-align: center;">
<!-- 				<button id="agregarBtn" tooltiptext="Guardar" -->
<!-- 					class="btn btn-info btn-md" iconSclass="fa fa-floppy-o bigger-140" -->
<!-- 					type="button"> -->

<!-- 				</button> -->
<!-- 				<button id="limpiarBtn" tooltiptext="Limpiar" -->
<!-- 					class="btn btn-danger btn-md" iconSclass="fa fa-eraser	bigger-140" -->
<!-- 					type="button"> -->

<!-- 				</button> -->

				<button tooltiptext="Salir" id="closeBtneventos"
					class="	btn btn-warning btn-md"
					iconSclass="fa fa-sign-out bigger-140" type="button">
				</button>
			</div>
		</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</window>
</zk>