<zk xmlns:n="native">
<zscript>
	<![CDATA[
		       modelo.entidad.Persona personas = arg.get("ObjDesvinculacion"); 
		       modelo.entidad.Accion  acciones = arg.get("accion");
			 	     
		       System.out.print(personas);
		  
]]> 
	</zscript>
	<window id="modalDialog2" border="normal" width="490px"
		apply="controlador.ControladorModalCerrar, vistaModelo.DesvincularAccionViewModel, org.zkoss.bind.BindComposer" position="center,center"
		closable="true" action="show: slideDown;hide: slideUp"
		class="panel panel-default"
		viewModel="@id('vm') @init('vistaModelo.DesvincularAccionViewModel')">
		<window closable="true" id="closeBtn2"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-folder-open-o" class='blue'>
				<label  value="Desvincular Accion" />
			</caption>
		</window>
		
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>
							<div class="form-horizontal">
								 <intbox id="idpersona"
											value="${personas.idPersona}" class="col-xs-6 col-sm-6" visible="false" />
	 <intbox id="idaccion"
											value="${acciones.idAccion}" class="col-xs-6 col-sm-6" visible="false" />
	
								<div class="form-group">
									<n:label for="lboxRole"
										style='font-weight:bolder'
										class="col-sm-3 control-label no-padding-right">
										Motivo:
									</n:label>
									<div class="col-sm-6">
										<combobox readonly="true" 
											model="@load(vm.allMotivoDesvinculacion)" 
											id="comboMotivoDesvinculacion" 
											selectedItem="@bind(vm.desvinculacion.motivoDesvinculacion)">
											<template name="model">
												<comboitem
													label="@load(each.nombreMotivoDesvinc)" value="@load(each)"/>
											</template>
										</combobox>
									</div>
								</div>
								
								


								<div class="form-group">
									<n:label style='font-weight:bolder'
										class="col-sm-3 control-label no-padding-right">
										Descripción
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" rows="5" value="@bind(vm.desvinculacion.descDesvinc)"
											id="" class="col-xs-8 col-sm-8" />
									</div>
								</div>
								
								<div class="form-group">
									<n:label style='font-weight:bolder'
										class="col-sm-3 control-label no-padding-right">
										Fecha Desvinculacion:
									</n:label>
									<div>
										<datebox id="fechaDesvic" readonly="true"  disabled="true"
											value="@bind(vm.desvinculacion.fechaDesvinc)"
											onCreate="self.setValue(new Date())"
											format="dd-MM-yyyy" class="col-xs-5 col-sm-5 input-group " />
									</div>
								</div>




								<div class="space-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-9 col-md-offset-3">
				<button id="btnRegistrar" tooltiptext="Guardar"
					class="btn btn-primary btn-md" iconSclass="z-icon-floppy-o bigger-140"
					type="button"
						onClick="@command('RegistrarDesvinculacion',Persona=personas,Accion=acciones, win=modalDialog2 )" />
				 
				<button id="limpiarBtn" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	bigger-140"
					type="button">

				</button>

				<button tooltiptext="Salir" id="salirBtn2"
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out bigger-140" type="button"
					onClick="@command('SalirDesvinculacion',win=modalDialog2 )" />
			</div>
		</div>
	</window>
</zk>