<zk xmlns:n="native">
	<zscript>
<![CDATA[
	modelo.entidad.Arrendamiento solAprob = arg.get("objetoArr");
]]>
	import java.text.SimpleDateFormat;
	SimpleDateFormat sdf = new SimpleDateFormat("dd/MM/yyyy");
</zscript>
	<window id="modalDialogRm" border="normal" width="490px"
		apply="controlador.ControladorModalCerrar,vistaModelo.CancelarArrendamientoViewModel, 
		org.zkoss.bind.BindComposer"
		position="center" closable="true"
		action="show: slideDown;hide: slideUp"
		viewModel="@id('vm') @init('vistaModelo.CancelarArrendamientoViewModel')">
		<window closable="true" id="closeBtnRm"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				Registrar Cancelación
			</caption>
		</window>

		<div class="widget-body">
			<div class="widget-main">
				<!--Encabezado -->
				<div
					class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						<div class="profile-info-name">Cédula:</div>

						<div class="profile-info-value">
							<label class="editable" id="ce"
								value="${solAprob.persona.cedPersona}" />
						</div>


					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">Nombre:</div>

						<div>
							<div class="profile-info-value">
								<label class="editable" id="nombre"
									value="${solAprob.persona.nombrePersona} ${solAprob.persona.apellidoPersona}" />
							</div>


						</div>
					</div>
				</div>

				<div>
					<div>
						<div>


							<div class="space-10"></div>

							<div class="form-horizontal">

								<div class="form-group">
									<n:label for="lboxRole"
										style='font-weight:bolder'
										class="col-sm-3 control-label no-padding-right">
										Motivo cancelación:
									</n:label>
									<div class="col-sm-6">
										<combobox
											model="@load(vm.motivos)" value="@load(vm.cancelacionlimpiar)" 
											selectedItem="@bind(vm.cancelacion.motivo)"
											id="comboTipoRechazoCancelacion">
											<template name="model">
												<comboitem
													label="@load(each.nombreMotivo)" value="@load(each)" />
											</template>
										</combobox>
									</div>

								</div>

								<div class="form-group">
									<n:label style='font-weight:bolder'
										class="col-sm-3 control-label no-padding-right">
										Descripción:
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" rows="5" value="@bind(vm.cancelacion.descCancelacion)"
											id="descripcionRechazoCancelacion" class="col-xs-8 col-sm-8" />
									</div>
								</div>




								<div class="space-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-9 col-md-offset-3">
				<button id="btnRegistrarCancelacionArrendamiento"
					tooltiptext="Guardar" class="btn btn-primary btn-md"
					iconSclass="z-icon-floppy-o bigger-140"
				onClick="@command('RegistrarCancelacionArrendamiento',Objeto=solAprob,win=modalDialogRm)">

				</button>
				<button id="btnLimpiarRechazoCancelacion"
					tooltiptext="Limpiar" class="btn btn-danger btn-md"
					iconSclass="z-icon-eraser	bigger-140"
					onClick="@command('Limpiar')">

				</button>

				<button tooltiptext="Salir" id="salirBtnRm"
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out bigger-140" type="button">
				</button>
			</div>
		</div>
	</window>
</zk>