<zk xmlns:n="native">

<zscript>
<![CDATA[
	modelo.entidad.Resultado re = arg.get("resultadoEvento");
	boolean isEdit = arg.get("edit");
	boolean isCreate = arg.get("create");
]]>
</zscript>

	<window id="modalDialog2" width="60%" border="normal"
		apply="controlador.ControladorModalCerrar, vistaModelo.ResultadosEventoViewModel"
		position="center,center" action="show: slideDown;hide: slideUp"
		class="panel panel-default">
		<window closable="true" id="closeBtn2"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				<label visible="${isCreate}">Registrar Resultado</label>
				<label visible="${isEdit}">Editar Resultado</label>
			</caption>
		</window>
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>
							<div class="form-horizontal">
								<div class="form-group">
										<n:label for="lboxRole"
											class="col-sm-3 control-label no-padding-right">
											Indicador
										</n:label>
										<div class="col-sm-8">
											<listbox checkmark="false"
												id="" sclass="input-sm" mold="select"
												class="col-xs-6 col-sm-6">
												<listitem selected="true"
													label="${re.indicador.indicador.nombre}" />
												<listitem
													label="Indicador 1" />
												<listitem
													label="Indicador 2" />
												<listitem
													label="Indicador 3" />
											</listbox>
										</div>
									</div>
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Valor Esperado
									</n:label>

									<div class="col-sm-3">
										<textbox type="text"
											value="" id="valorEsperado"
											class="col-xs-12 col-sm-12" readonly="true" />
											
									</div>
							
								</div>

								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Valor Real
									</n:label>

									<div class="col-sm-3">
										<textbox type="text"
											value="${re.valorReal}" id="valorReal"
											class="col-xs-12 col-sm-12" />
											
									</div>
							
								</div>
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Cálculo
									</n:label>

									<div class="col-sm-3">
										<textbox type="text"
											value="" id="calculo"
											class="col-xs-12 col-sm-12" readonly="true" />
											
									</div>
							
								</div>
								
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Descripción
									</n:label>

									<div class="col-sm-7">
										<textbox type="text" rows="2"
											value="" id="descripcion"
											class="col-xs-12 col-sm-12" />
											
									</div>
							
								</div>

								<div id="box" visible="false"
									class="alert alert-warning">
									<label id="msg1" />
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div align="center">
				<button id="btnRegistrar" tooltiptext="Guardar"
					class="btn btn-primary btn-md" iconSclass="z-icon-floppy-o bigger-140"
					type="button" visible="${isCreate}">
				</button>
				<button id="btnEditar" tooltiptext="editar"
					class="btn btn-primary btn-md" iconSclass="z-icon-check bigger-140"
					type="button" visible="${isEdit}">
				</button>
				
				<button id="btnLimpiar" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	bigger-140"
					type="button" visible="${isCreate}">

				</button>

				<button tooltiptext="Salir" id="salirBtn2"
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out bigger-140" type="button">
				</button>
			</div>
		</div>
	</window>
</zk>