<zk xmlns:n="native">

	<zscript>
			<![CDATA[
	modelo.entidad.Opinion opinion = arg.get("objOpinion");
]]>
</zscript>

	<window id="modalDialog2" border="normal" width="490px"
		apply="org.zkoss.bind.BindComposer,controlador.ControladorModalCerrar,vistaModelo.OpinionViewModel"
		position="center,center" closable="true" class="panel panel-default"
		viewModel="@id('vm') @init('vistaModelo.OpinionViewModel')">
		<window closable="true" id="closeBtn2"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				Atender Sugerencia
			</caption>
		</window>



		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>


							<!-- Emcabezado -->
							<div
								class="profile-user-info profile-user-info-striped">
								<div class="profile-info-row">
									<div style='font-weight:bolder'
										class="profile-info-name">
										Cédula:
									</div>
									<div class="profile-info-value">
										<label
											value="${opinion.usuario.persona.cedPersona}" id=""
											class="col-xs-8 col-sm-8" />
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">
										Nombre:
									</div>

									<div class="profile-info-value">
										<label
											value="${opinion.usuario.persona.nombrePersona}" id=""
											class="col-xs-8 col-sm-8" />
									</div>
								</div>
							</div>

							<separator></separator>
							<separator></separator>


							<div class="form-horizontal">
								<div class="form-group">
									<n:label style='font-weight:bolder'
										class="col-sm-3 control-label no-padding-right">
										Descripcion
									</n:label>

									<label
										value="${opinion.descOpinion}" id=""
										class="col-xs-8 col-sm-8" />

								</div>

								<div class="form-group">
									<n:label style='font-weight:bolder'
										class="col-sm-3 control-label no-padding-right">
										Respuesta
									</n:label>

									<div class="col-sm-9">

										<textbox type="text" rows="5"
											id="repuesta" class="col-xs-8 col-sm-8"
											value="@bind(vm.opinion.respuestaOpinion)" />

									</div>
								</div>

								<div class="space-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div align="center">
				<button id="" tooltiptext="Enviar"
					class="btn btn-primary btn-md"
					iconSclass="z-icon-fa fa-paper-plane-o bigger-140"
					onClick="@command('RegistrarSugerencia',objeto=opinion,win=modalDialog2)">
				</button>
				<button id="btnLimpiar" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	bigger-140"
					onClick="@command('Limpiar')">

				</button>

				<button id="salirBtn2" tooltiptext="Salir"
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out	bigger-140" type="button">

				</button>
			</div>
		</div>
	</window>
</zk>