<zk xmlns:n="native">
	<window id="modalDialog" border="normal" width="50%"
		apply="controlador.ControladorModalCerrar" position="center,center"
		closable="true" action="show: slideDown;hide: slideUp"
		class="panel panel-default">
		<window closable="true" id="closeBtn"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				Registrar Documento
			</caption>
		</window>
		<div class="widget-body">
			<div class="widget-main">
				<include src="content/gridArrendamientos.zul" hflex="5"/>
			</div>
		</div>

		
	</window>
</zk>