<zk xmlns:n="native">

	<zscript>
<![CDATA[
	modelo.entidad.TipoPublico tipoPublico = arg.get("objTipoPublico");
	System.out.print(tipoPublico);
	boolean isEdit = arg.get("edit");
	boolean isCreate = arg.get("create");
]]>
</zscript>

	<window id="modalDialog" width="490px" border="normal"
		apply="controlador.ControladorModalCerrar, vistaModelo.TipoPublicoViewModel"
		position="center,center" action="show: slideDown;hide: slideUp"
		class="panel panel-default">
		<window closable="true" id="closeBtn"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				<label visible="${isCreate}">
					Registrar Tipo de Público
				</label>
				<label visible="${isEdit}">
					Editar Tipo de Público
				</label>
				<label visible="${isView}">Ver Tipo de Público</label>
			</caption>
		</window>
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>
							<div class="form-horizontal">
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right" style="font-weight:bold;">
										Nombre:
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" id="nombre"
											value="${tipoPublico.nombreTipoPublico}" class="col-xs-6 col-sm-6" />

										<intbox id="id"
											value="${tipoPublico.idTipoPubico}" class="col-xs-6 col-sm-6" visible="false" />
									</div>
								</div>

								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right" style="font-weight:bold;">
										Descripción:
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" rows="5"
											style="font-size: 14px; padding: 8px"
											value="${tipoPublico.descTipoPublico}" id="descripcion"
											class="col-xs-8 col-sm-8" />
									</div>
								</div>

								<div id="box" visible="false"
									align="center" class="alert alert-danger">
									<label id="message" />
								</div>
								

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-9 col-md-offset-3">
				<button id="btnRegistrar" tooltiptext="Guardar"
					class="btn btn-primary btn-md" iconSclass="z-icon-floppy-o bigger-140"
					type="button" visible="${isCreate}">
				</button>
				<button id="btnEditar" tooltiptext="Guardar"
					class="btn btn-primary btn-md" iconSclass="z-icon-floppy-o bigger-140"
					type="button" visible="${isEdit}">
				</button>

				<button id="btnLimpiar" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	bigger-140"
					type="button" visible="${isCreate}">

				</button>

				<button tooltiptext="Salir" id="salirBtn"
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out bigger-140" type="button">
				</button>
			</div>
		</div>
	</window>
</zk>