<?page title="Configuracion" contentType="text/html;charset=UTF-8"?>
<zk>
	<!-- style="min-width:800px; max-width:920px" -->
	<window title="Eventos " sclass=" col-xs-11" border="normal"
		apply="org.zkoss.bind.BindComposer" closable="true"
		viewModel="@id('vm') @init('vistaModelo.ReporteEstructurado')">
		<div width="100%">
			<iframe content="@bind(vm.reportePDF)" id="report"  width="100%" height="500px" style="border: 1px solid gray"></iframe>
		</div>
	</window>
</zk>