<zk xmlns:n="native">

	<zscript>
<![CDATA[
	modelo.entidad.Area_recurso ra = arg.get("objeto");
	modelo.entidad.Area a = arg.get("area");
	boolean isEdit = arg.get("edit");
	boolean isCreate = arg.get("create");
]]>
</zscript>

	<window id="modalDialog4" width="45%" border="normal"
		apply="controlador.ControladorModalCerrar, vistaModelo.RecursoAreaViewModel, org.zkoss.bind.BindComposer"
		position="center,center" action="show: slideDown;hide: slideUp"
		class="panel panel-default"
		viewModel="@id('vm') @init('vistaModelo.RecursoAreaViewModel')">
		<window closable="true" id="closeBtn4"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-file-text-o" class='blue'>
				<label visible="${isCreate}">Asignar Recurso</label>
				<label visible="${isEdit}">
					Editar Recurso de Área
				</label>
			</caption>
		</window>
		<!--  EMCABEZADO -->
							<div
								class="profile-user-info profile-user-info-striped">
								<div class="profile-info-row">
									<div class="profile-info-name">
										<label style="font-weight: bold;">Área:</label>
									</div>

									<div class="profile-info-value">
										<label
   											value="${a.nombreArea}"  
											 />
									</div>
								</div>

							</div><!-- FIN DE EMZABEZADO -->
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>
							<div class="form-horizontal">
								<div class="form-group">
									<n:label for="lboxRole"
										class="col-sm-3 control-label no-padding-right" style="font-weight:bold;">
										Recurso:
									</n:label>
									<div class="col-sm-8">
										<combobox
											model="@load(vm.allRecursos)"
											value="${ra.recurso.nombreRecurso}" id="comboRecursos"
											placeholder="Seleccione...">
											<template name="model">
												<comboitem
													label="@load(each.nombreRecurso)" />
											</template>
										</combobox>
									</div>
								</div>

								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right" style="font-weight:bold;">
										Cantidad:
									</n:label>

									<div class="col-sm-3">
										<intbox
											value="${ra.cantRecurso}" id="cantidad"
											class="col-xs-12 col-sm-12" format="#,##0.##"/>

									</div>

								</div>

								<div id="box" visible="false"
									class="alert alert-warning">
									<label id="msg1" />
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div align="center">
				<button id="btnRegistrarRecursoArea"
					tooltiptext="Guardar" class="btn btn-primary btn-md"
					iconSclass="z-icon-floppy-o bigger-140" type="button"
					visible="${isCreate}">
				</button>
				<button id="btnEditarRecursoArea"
					tooltiptext="Guardar" class="btn btn-primary btn-md"
					iconSclass="z-icon-floppy-o bigger-140" type="button"
					visible="${isEdit}">
				</button>
				<button id="btnLimpiar" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	bigger-140"
					type="button" visible="${isCreate}">

				</button>

				<button tooltiptext="Salir" id="salirBtn4"
					class="	btn btn-warning btn-md"
					iconSclass="z-icon-sign-out bigger-140" type="button">
				</button>
			</div>
		</div>
	</window>
</zk>