<zk xmlns:n="native">
	<window title="" id="modalDialog2" border="normal" width="60%"
		apply="controlador.ControladorModalCerrar, vistaModelo.EvaluarPostulacionesMiembroViewModel, org.zkoss.bind.BindComposer"
		viewModel="@id('vm') @init('vistaModelo.EvaluarPostulacionesMiembroViewModel')"
		position="center,center" closable="true"
		action="show: slideDown;hide: slideUp" class="panel panel-default">
		<window closable="true" id="closeBtn2"
			sclass="alert alert-primary">
			<caption iconSclass="fa fa-folder-open-o" class='blue'>
				<label class="blue" value="Solicitud de Membresía" />
			</caption>
		</window>



		<zscript>
				<![CDATA[
	modelo.entidad.Postulacion objPostulacion = arg.get("objeto");
	modelo.entidad.Persona objPostulacionC = arg.get("ObjConyuge");
	System.out.print(objPostulacion);
]]>
			 </zscript>
		<div class="widget-body">
			<div class="">
				<intbox id="idams"
					value="${ objPostulacion.idPostulacion}" class="col-xs-6 col-sm-6"
					visible="false" />


				<tabbox sclass="widget-body">
					<tabs>
						<tab id="tab1" label="Datos personales"
							selected="true" iconSclass="glyphicon glyphicon-user blue	" />
						<tab id="tab2" label="Datos laborales"
							iconSclass="glyphicon glyphicon-briefcase blue" />
						<tab id="tab3" label="Datos del cónyugue"
							iconSclass="glyphicon glyphicon-briefcase blue" />
						<tab id="tab4" label="Referencias"
							iconSclass="glyphicon glyphicon-briefcase blue" />
						<tab id="tab5" label="Preferencias"
							iconSclass="glyphicon glyphicon-briefcase blue" />

					</tabs>

					<tabpanels>

						<!-- Tab Datos PERSONALES Content -->

						<tabpanel height="100%" class="margenes">

							<div class="row">
								<div class="col-xs-12">
									<!-- PAGE CONTENT BEGINS -->


									<div>
										<div>
											<div>

												<div
													class="form-horizontal">

													<n:h4
														class="block blue">
														Datos personales
													</n:h4>
													<n:hr></n:hr>

													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Cédula:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-5 col-sm-5"
																value="${objPostulacion.persona.cedPersona}" />
														</div>
														<div
															class="col-sm-12">
															<n:label
																style='font-weight:bolder'
																class="col-sm-2 control-label no-padding-right">
																Dirección:
															</n:label>
															<div
																class="col-sm-4">
																<textbox
																	readonly="true"
																	value="${objPostulacion.persona.direcPersona}"
																	type="text" rows="3" id="" class="col-xs-10 col-sm-10" />
															</div>
														</div>
													</div>

													<separator
														spacing="1%" />

													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Nombre:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true"
																value="${objPostulacion.persona.nombrePersona}"
																type="text" id="" class="col-xs-8 col-sm-8" />
														</div>
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Teléfono
															Local:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true"
																value="${objPostulacion.persona.tlfCasaPersona}"
																type="text" id="" class="col-xs-10 col-sm-10" />
														</div>
													</div>

													<separator
														spacing="1%" />


													<div
														class="form-group">

														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right ">
															Apellido:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-8 col-sm-8"
																value="${objPostulacion.persona.apellidoPersona}" />
														</div>
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Teléfono
															Móvil:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true"
																value="${objPostulacion.persona.tlfCelPersona}"
																maxlength="11" tabindex="5" class="col-xs-6 col-sm-6" />
														</div>
													</div>

													<separator
														spacing="1%" />

													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Sexo:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-8 col-sm-8"
																value="${objPostulacion.persona.sexoPersona}" />
														</div>
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Estado
															Civil:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true"
																value="${objPostulacion.persona.estadoCivilPersona}"
																maxlength="11" tabindex="5" class="col-xs-6 col-sm-6" />
														</div>
													</div>

													<separator
														spacing="1%" />
													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Fecha de
															Nacimiento:
														</n:label>
														<div
															class="col-sm-4">
															<textbox 
																readonly="true"
																value="${objPostulacion.persona.fechaNacPersona}"
																type="text" id="" class="col-xs-8 col-sm-8" />
														</div>

														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Lugar de
															Nacimiento:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true"
																value="${objPostulacion.persona.lugarNacPersona}"
																type="text" id="" class="col-xs-8 col-sm-8" />
														</div>

													</div>
													<separator
														spacing="1%" />
												 
													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Correo Electrónico:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-8 col-sm-8"
																value="${objPostulacion.persona.correoPersona}" />
														</div>
 
													</div>

												</div>
											</div>
										</div>
									</div>


								</div>

							</div>
						</tabpanel>

						<!-- Tab Datos LABORALES Content -->
						<tabpanel height="100%">

							<div class="row">
								<div class="col-xs-12">
									<!-- PAGE CONTENT BEGINS -->


									<div>
										<div>
											<div>

												<div
													class="form-horizontal">

													<n:h4
														class="block blue">
														Datos laborales
													</n:h4>
													<n:hr></n:hr>

													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Profesión:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-8 col-sm-8"
																value="${objPostulacion.persona.profesionPersona}" />
														</div>
														<div
															class="col-sm-12">
															<n:label
																style='font-weight:bolder'
																class="col-sm-2 control-label no-padding-right">
																Nombre de la Empresa:
															</n:label>
															<div
																class="col-sm-4">
																<textbox
																	readonly="true"
																	value="${objPostulacion.persona.empresaTrabPersona}"
																	type="text"  id="" class="col-xs-10 col-sm-10" />
															</div>
														</div>
													</div>

													<separator
														spacing="20px" />


													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Cargo:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																value="${objPostulacion.persona.tlfTrabPersona}"
																class="col-xs-10 col-sm-10" />
														</div>
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Teléfono
															de la Empresa:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																value="${objPostulacion.persona.tlfTrabPersona}"
																class="col-xs-10 col-sm-10" />
														</div>
													</div>

													<separator
														spacing="20px" />


													<div
														class="form-group">

														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right ">
															Sueldo:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-8 col-sm-8"
																value="${objPostulacion.persona.sueldoPersona}" />
														</div>
															<div
															class="col-sm-12">
															<n:label
																style='font-weight:bolder'
																class="col-sm-2 control-label no-padding-right">
																Dirección
																de
																Empresa:
															</n:label>
															<div
																class="col-sm-4">
																<textbox
																	readonly="true"
																	value="${objPostulacion.persona.direcTrabPersona}"
																	type="text" rows="3" id="" class="col-xs-10 col-sm-10" />
															</div>
														</div>

													</div>




												</div>
											</div>
										</div>
									</div>

									<div class="space-100"></div>
								</div>

							</div>
						</tabpanel>

						<!-- Tab Datos CONYUGUE Content -->
						<tabpanel height="100%" class="margenes">

							<div class="row">
								<div class="col-xs-12">
									<div>
										<div>
											<div>

												<div
													class="form-horizontal">

													<n:h4
														class="block blue">
														Datos del cónyugue
													</n:h4>
													<n:hr></n:hr>

													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Cédula:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-5 col-sm-5"
																value="${objPostulacionC.cedPersona}" />
														</div>
														<div
															class="col-sm-12">
															<n:label
																style='font-weight:bolder'
																class="col-sm-2 control-label no-padding-right">
																Teléfono Local:
															</n:label>
															<div
																class="col-sm-4">
																<textbox
																	readonly="true" type="text" id=""
																	value="${objPostulacionC.tlfCasaPersona}"
																	class="col-xs-10 col-sm-10" />
															</div>
														</div>
													</div>

													<separator
														spacing="20px" />


													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Nombre:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" value="${objPostulacionC.nombrePersona}"
																type="text" id="" class="col-xs-8 col-sm-8" />
														</div>
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Teléfono
															Móvil:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																value="${objPostulacionC.tlfCelPersona}"
																class="col-xs-10 col-sm-10" />
														</div>
													</div>

													<separator
														spacing="20px" />


													<div
														class="form-group">

														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right ">
															Apellido:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-8 col-sm-8"
																value="${objPostulacionC.apellidoPersona}" />
														</div>
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Estado
															Civil:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true"
																value="${objPostulacionC.estadoCivilPersona}"
																maxlength="11" tabindex="5" class="col-xs-6 col-sm-6" />
														</div>
													</div>

													<separator
														spacing="10px" />

													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Sexo:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-8 col-sm-8"
																value="${objPostulacionC.sexoPersona}" />
														</div>
														<div
															class="col-sm-12">
															<n:label
																style='font-weight:bolder'
																class="col-sm-2 control-label no-padding-right">
																Correo Electrónico:
															</n:label>
															<div
																class="col-sm-4">
																<textbox
																	readonly="true" type="text" id=""
																	value="${objPostulacionC.correoPersona}"
																	class="col-xs-10 col-sm-10" />
															</div>
														</div>
													</div>
													
													<div
														class="form-group">
														<div
															class="col-sm-12">
															<n:label
																style='font-weight:bolder'
																class="col-sm-2 control-label no-padding-right">
																Fecha de
																Nacimiento:
															</n:label>
															<div
																class="col-sm-4">
																<textbox
																	readonly="true" type="text" id=""
																	value="${objPostulacionC.fechaNacPersona}"
																	class="col-xs-10 col-sm-10" />
															</div>
														</div>
														<div
															class="col-sm-12">
															<n:label
																style='font-weight:bolder'
																class="col-sm-2 control-label no-padding-right">
																Cargo
															</n:label>
															<div
																class="col-sm-4">
																<textbox
																	readonly="true" type="text" id=""
																	value="${objPostulacionC.cargoPersona}"
																	class="col-xs-10 col-sm-10" />
															</div>
														</div>
													</div>
													<div
														class="form-group">
														<n:label
															style='font-weight:bolder'
															class="col-sm-2 control-label no-padding-right">
															Lugar de Nacimiento:
														</n:label>
														<div
															class="col-sm-4">
															<textbox
																readonly="true" type="text" id=""
																class="col-xs-5 col-sm-5"
																value="${objPostulacionC.lugarNacPersona}" />
														</div>
														<div
															class="col-sm-12">
															<n:label
																style='font-weight:bolder'
																class="col-sm-2 control-label no-padding-right">
																Sueldo:
															</n:label>
															<div
																class="col-sm-4">
																<textbox
																	readonly="true" type="text" id=""
																	value="${objPostulacionC.sueldoPersona}"
																	class="col-xs-10 col-sm-10" />
															</div>
														</div>
													</div>
													
													
													
													
												</div>
											</div>
										</div>
									</div>

									<div class="space-100"></div>
								</div>

							</div>
						</tabpanel>




						<!-- Tab REFERENCIA Content -->

						<tabpanel width="100%" height="100%">
							<div>
								<n:h4 class="block blue">
									Referencias
								</n:h4>
								<n:hr></n:hr>
							</div>
							<panel
								apply="controlador.ControladorModalAbrir" border="none"
								collapsible="false" sclass="transparent">
								<panelchildren
									apply="org.zkoss.bind.BindComposer">
									<grid sclass="domain"
										model="@load(vm.referenciaPost)" mold="paging" pageSize="2">
										<columns>

											<column align="center"
												width="20%">

												<div>
													<label
														value="Cédula" style="font-weight:bold;" />
												</div>
											</column>
											<column align="center"
												width="20%">

												<div>
													<label
														value="Nombre" style="font-weight:bold;" />
												</div>
											</column>
											<column align="center"
												width="20%">

												<div>
													<label
														value="Apellido" style="font-weight:bold;" />
												</div>
											</column>

											<column align="center"
												width="20%">

												<div>
													<label
														value="Teléfono" style="font-weight:bold;" />
												</div>
											</column>
										</columns>
										<template name="model">
											<row>


												<label
													value="@load(each.cedPersona)" />
												<label
													value="@load(each.nombrePersona)" />
												<label
													value="@load(each.apellidoPersona)" />
												<label
													value="@load(each.tlfCasaPersona)" />

											</row>
										</template>
										<foot>
											<footer span="6"
												class="footer_right" label="@load(vm.footer)" />
										</foot>

									</grid>
								</panelchildren>
							</panel>



						</tabpanel>


						<!-- Tab Datos PREFERENCIA Content -->
						<tabpanel>
							<div class="form-horizontal">

								<n:h4 class="block blue">
									Preferencias
									<n:hr></n:hr>
								</n:h4>
							</div>

							<panel
								apply="controlador.ControladorModalAbrir" border="none"
								collapsible="false" sclass="transparent">
								<panelchildren
									apply="org.zkoss.bind.BindComposer">
									<grid sclass="domain"
										model="@load(vm.preferencia)" mold="paging" pageSize="5">
										<columns>

											<column align="center"
												width="20%">

												<div>
													<label
														value="Categoría" style="font-weight:bold;" />
												</div>
											</column>
											<column align="center"
												width="20%">

												<div>
													<label
														value="Preferencia" style="font-weight:bold;" />
												</div>
											</column>

										</columns>
										<template name="model">
											<row>


												<label
													value="@load(each.preferencia.categoria.nombreCategoria)" />
												<label
													value="@load(each.preferencia.nombrePreferencia)" />

											</row>
										</template>
										<foot>
											<footer span="6"
												class="footer_right" label="@load(vm.footer1)" align="center" />
										</foot>

									</grid>
								</panelchildren>
							</panel>

						</tabpanel>


					</tabpanels>

				</tabbox>
			</div>

			




		</div>
		<div class="clearfix form-actions"  >
				<div class="col-md-offset-4 col-md-12" >
					<button iconSclass="z-icon-check bigger-160"
						class="btn btn-primary" type="reset" tooltiptext="Aprobar"
						id="aprobarSol" />
					<button class="btn btn-danger" type="button"
						tooltiptext="Rechazar" iconSclass="z-icon-times bigger-160"
						onClick="@command('rec', rechazarSol=objPostulacion)" />

					<button id="salirBtn2" tooltiptext="Salir"
						class="	btn btn-warning btn-md"
						iconSclass="z-icon-sign-out bigger-160" type="button" />

				</div>
			</div>
		
	</window>

	<style>
		.z-datebox-input { // simlar to bootstrap's form-control class
		display: table-cell; width: 100%; margin-bottom: 0; height:
		34px; padding: 6px 12px; font-size: 14px; line-height:
		1.428571429; color: #555; vertical-align: middle;
		background-color: #fff; border: 1px solid #ccc; border-radius:
		4px; box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); transition:
		border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		border-top-right-radius: 0; border-bottom-right-radius: 0; }
		.z-datebox-button { // simlar to bootstrap's input-group-addon
		class padding: 6px 12px; font-size: 14px; font-weight: normal;
		line-height: 1; text-align: center; background-color: #eee;
		border: 1px solid #ccc; border-radius: 4px; width: 1%;
		white-space: nowrap; vertical-align: middle; display:
		table-cell; border-bottom-left-radius: 0;
		border-top-left-radius: 0; border-left: 0; }
	</style>
</zk>