<zk>
	<div
		apply="controlador.ControladorSesion, controlador.ControladorNotificacion"
		sclass="navbar"
		viewModel="@id('vm') @init('controlador.ControladorNotificacion')">
		<!-- Brand Logo -->
		<a label="" sclass="pull-left navbar-brand" />
		<image src="assets/avatars/teidelogo.png" width="65px"
			height="42px">
		</image>
		<!-- Navbar -->
		<hlayout sclass="nav-user pull-right" spacing="0">
			<a id="anoti" iconSclass="z-icon-calendar"
				popup="msgpp, position=after_end, type=toggle" sclass="purple">
				<label id="nronot" value="@bind(vm.nronot)"
					sclass="badge badge-important" />
			</a>
			<!-- User menu -->
			<menubar sclass="user-menu">
				<menu tooltiptext="${sessionScope.user}"
					class="img-circle" label="${sessionScope.user}"
				imageContent="${sessionScope.imagen}">
					<menupopup>
						<menuitem label="Ajustar Perfil" id="perfil"
							iconSclass="z-icon-off" />
						<menuitem label="Cambiar Contraseña"
							id="cambiarContrasena" iconSclass="z-icon-off" />

						<menuitem label="Sugerencia"
							id="registrarSugerencia" iconSclass="z-icon-off" />
						<menuitem id="cerrarSesion"
							label="Cerrar sesión" iconSclass="z-icon-off" />

					</menupopup>

				</menu>
			</menubar>
		</hlayout>
		<!-- Popups of navbar -->
		<popup id="taskpp" sclass="menu" width="240px">
			<a label="4 Tasks to complete" sclass="header"
				iconSclass="z-icon-check" />
			<vlayout spacing="0">
				<a href="#">
					<div>
						<label class="pull-left"
							value="Software Update" />
						<label class="pull-right" value="65%" />
					</div>
					<progressmeter value="65" width="100%" />
				</a>
				<a href="#">
					<div>
						<label class="pull-left"
							value="Hardware Upgrade" />
						<label class="pull-right" value="35%" />
					</div>
					<progressmeter value="35" width="100%"
						sclass="progressmeter-danger" />
				</a>
				<a href="#">
					<div>
						<label class="pull-left" value="Unit Testing" />
						<label class="pull-right" value="15%" />
					</div>
					<progressmeter value="15" width="100%"
						sclass="progressmeter-warning" />
				</a>
				<a href="#">
					<div>
						<label class="pull-left" value="Bug Fixes" />
						<label class="pull-right" value="90%" />
					</div>
					<progressmeter value="90" width="100%"
						sclass="progressmeter-success striped active" />
				</a>
				<a label="See tasks with details" href="#">
					<span class="z-icon-arrow-right" />
				</a>
			</vlayout>
		</popup>
		<popup id="notipp" sclass="menu menu-pink" width="240px">
			<a label="8 Notifications" sclass="header"
				iconSclass="z-icon-exclamation-triangle" />
			<vlayout spacing="0">
				<a
					iconSclass="btn btn-xs no-hover btn-pink z-icon-comment"
					href="#">
					<label>New Comments</label>
					<label value="+12"
						class="badge badge-info pull-right" />
				</a>
				<a
					iconSclass="btn btn-xs no-hover btn-primary z-icon-user"
					href="#">
					<label>Bob just signed up as an editor ...</label>
				</a>
				<a
					iconSclass="btn btn-xs no-hover btn-success z-icon-shopping-cart"
					href="#">
					<label>New Orders</label>
					<label value="+8"
						class="badge badge-info pull-right" />
				</a>
				<a
					iconSclass="btn btn-xs no-hover btn-info z-icon-twitter"
					href="#">
					<label>Followers</label>
					<label value="+11"
						class="badge badge-info pull-right" />
				</a>
				<a label="See all notifications" href="#">
					<span class="z-icon-arrow-right" />
				</a>
			</vlayout>
		</popup>
		<popup id="msgpp" sclass="menu" width="240px">

		</popup>
	</div>
</zk>