<div width="81%">
	<vlayout spacing="0" hflex="1">
		<div sclass="breadcrumbs">
			<div sclass="breadcrumb">
				<span sclass="home-icon z-icon-wrench" />
				<a label="Administracion del Sistema" href="#" />
				<label value="Asignar Funciones" />
			</div>
			<!-- Search input-->
		</div>
		<vlayout sclass="page-content" spacing="0"  >
			<div sclass="page-header" height="1">
				<label value="Asignar Funciones" />
			</div>
			<hlayout spacing="24px">
				<include src="content/asignarFunciones.zul" hflex="5" />
			</hlayout>
			
			
			<include src="footer.zul"
						style="position: relative;" />
		</vlayout>
					<vlayout>
					
				</vlayout>
	</vlayout>
	<!-- Include the jQuery plugins to draw the chart -->
	<script src="js/excanvas.min.js" if="${zk.ie lt 9}" />
	<script src="js/jquery.easy-pie-chart.min.js"></script>
	<script src="js/jquery.flot.min.js" />
	<script src="js/jquery.flot.pie.js" />
	<script src="js/jquery.sparkline.min.js"></script>
</div>