<div>
	<vlayout spacing="0" hflex="1">
		<div sclass="breadcrumbs">
			<div sclass="breadcrumb">
				<span sclass="home-icon z-icon-wrench" />
				<a label="Administración del Sistema" href="#" />
				<label value="Crear Grupo" />
			</div>
			<!-- Search input-->
		</div>
		<vlayout sclass="widget-body" spacing="0">
			<div sclass="page-header" height="1">
				<label value="Lista de Grupos" />
			</div>
			<hlayout spacing="24px">
				<include src="content/gridGrupo.zul" hflex="5" />
			</hlayout>



		</vlayout>

	</vlayout>
	<!-- Include the jQuery plugins to draw the chart -->
	<script src="js/excanvas.min.js" if="${zk.ie lt 9}" />
	<script src="js/jquery.easy-pie-chart.min.js"></script>
	<script src="js/jquery.flot.min.js" />
	<script src="js/jquery.flot.pie.js" />
	<script src="js/jquery.sparkline.min.js"></script>
</div>