.z-label {
	display: block;
}

tr.z-row td.z-row-inner {
	padding: 2px 5px;
}

.z-row-cnt,.z-column-cnt {
	text-align: center;
}

.category-center .z-auxheader-cnt {
	text-align: center;
}

.footer_right .z-footer-cnt {
	text-align: right;
	font-weight: bold;
}